{% load static %}
{% load i18n %}
{% load account_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% include 'style/content.css' %}
        {% include 'style/topmenu.css' %}
        {% include 'style/sidemenu.css' %}
        {% include 'style/queries.css' %}
    </style>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/users-and-groups-group@32px.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% if user.is_authenticated %}
    <div class="topmenu" id="topmenu">
        <div class="logo">
            <a class="icon" href="javascript:void(0);" onclick="barClick()">
                &#9776;
            </a>
        </div>
        <div class="search">Suchen</div>
        <div class="user">
            <a href="{% url 'account:edit' %}">{{ user }}</a>
        </div>
    </div>

    <div class="sidemenu" id="sidemenu">
        {% include 'account/sidemenu.html' %}
    </div>
{% else %}
    <div class="topmenu" id="topmenu">
        <div class="logo">
            <a href="{% url 'account:home' %}">myactivities.net</a>
        </div>
    </div>
{% endif %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script>
    {% include 'javascript/base.js' %}
    {% block domready %}
    {% endblock %}
</script>
</body>
</html>
