{% load static %}
{% load i18n %}
{% load account_tags %}
{% load cookielaw_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% include 'style/content.css' %}
        {% include 'style/topmenu.css' %}
        {% include 'style/sidemenu.css' %}
        {% include 'style/chatmenu.css' %}
        {% block style %}{% endblock %}
        {% include 'style/queries.css' %}
    </style>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/users-and-groups-group@32px.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="base-container">
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% if user.is_authenticated %}
{% if messages %}
    {% for message in messages %}
        <div class="django-message" id="django-message">
            <p>{{ message }}</p>
            <a class="blue-button" onclick="document.getElementById('django-message').style.display='none';">{% trans "OK!" %}</a>
        </div>
    {% endfor %}
{% endif %}
{% with latest_messages=user.get_latest_messages %}
    <div class="topmenu" id="topmenu">
        <div class="logo">
            <a class="icon" href="javascript:void(0);" onclick="activateMenu('sidemenu');">
                &#9776;<sup><strong><span style="color: orange;" id="notifications-count">{% with count=user.notifications.count %}{% if count > 0 %}{{ count }}{% endif %}{% endwith %}</span></strong></sup>
            </a>
        </div>
        <div class="search"><a href="{% url 'account:home' %}"> </a></div>
        <div class="user">
            <div class="envelope">
                <a href="javascript:void(0);" onclick="activateMenu('chat-menu');">
                    <img src="{% static 'icons/envelope.png' %}"><sup><strong><span style="color: orange;" id="messages-count">{{ latest_messages|length }}</span></strong></sup>
                </a>
            </div>
            <div class="profile">
            {% if user.image %}
                {% load thumbnail %}
                <a href="{% url 'account:edit' %}" id="profile-image">
                    <img src="{% thumbnail user.image 32x0 %}" style="border-radius: 50%;">
                </a>
            {% endif %}
            <a href="{% url 'account:edit' %}" id="profile-link">{{ user }}</a>
            </div>
        </div>
    </div>

    {% include 'account/sidemenu.html' %}

    <div class="chat-menu" id="chat-menu">
        Chats:
        {% for message in latest_messages %}
            <div class="chat-box" id="room-{{ message.chat_room.id }}">
            <a href="{{ message.chat_room.get_absolute_url }}">
                <span class="room-name">
                    {% call_method message 'full_origin' user %}:
                </span>
                <span class="message">
                    <span class="message-date">
                        {{ message.created|date:"SHORT_DATETIME_FORMAT" }}:
                    </span>
                    <span class="message-content">
                        {{ message.text }}
                    </span>
                </span>
            </a>
            </div>
        {% endfor %}
    </div>
{% endwith %}

{% else %}
{% cookielaw_banner %}
    <div class="topmenu" id="topmenu">
        <div class="logo">
            <a href="{% url 'account:home' %}">myactivities.net</a>
        </div>
        <div class="lang-select">
            {% language_setter request %}
        </div>
    </div>
    <script>
        document.getElementsByClassName("content")[0].style.left = 0;
        document.getElementsByClassName("content")[0].style.right = 0;
    </script>
{% endif %}

<script>
    {% include 'javascript/base.js' %}
    {% block domready %}
    {% endblock %}
</script>
</div>
</body>
</html>
