{% extends 'base.html' %}
{% load static %}

{% block title %}Durak{% endblock %}
{% block style %}{% include 'css/durak.css' %}{% endblock %}

{% block content %}

<div class="game">
    <div class="game-field">
        
    </div>
    <div class="player1-info">
        Player 1
    </div>
    <div class="player2-info">
        <div class="text">
            Player 2
        </div>
    </div>
    <div class="player3-info">
        Player 3
    </div>
    <div class="player4-info">
        <div class="text">
            Player 4
        </div>
    </div>

<script>
    {% include 'javascript/durak.js' %}
</script>
{% endblock %}
