{% load i18n %}
{% load account_tags %}
{% load static %}
<script src="{% static 'ws-audio-api.min.js' %}"></script>
<div class="game">
    <div class="button-like back">
        <a href="{% call_method match 'lobby_url' request %}">Lobby</a>
    </div>
    <div class="button-like leave" onclick="createYesNoAlert('{% trans 'Spiel beenden, verlassen und zurücksetzen?' %}', 2, function() { location.href = '{% url 'multiplayer:leave_match' match.activity.name match.id %}'});">
        {% trans "Ciao!" %}
    </div>
    <div class="game-field">
        
    </div>
    <div class="player1-info" id="player1">
        
    </div>
    <div class="player2-info">
        <div class="text" id="player2">
            
        </div>
    </div>
    <div class="player3-info" id="player3">
        
    </div>
    <div class="player4-info">
        <div class="text" id="player4">
            
        </div>
    </div>
    <div class="join-audio">
        <button id="join-audio" onclick="joinAudio();">{% trans 'Beitreten' %}</button>
    </div>
</div>