{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ activity }}-Lobby{% endblock %}

{% block content %}
<h1 class="h-img" style="margin-bottom: 5px"><img src="{% static 'icons/lobby.png' %}"><a href="{{ activity.get_absolute_url }}">{{ activity }}</a>-Lobby</h1>
<p class="info-p">
    {% blocktrans with activity=activity %}Hier können Sie {{ activity }} online spielen (<a href="/multiplayer/rules">Spielregeln finden Sie hier</a>). Als Ersteller eines Matches können Sie das Spiel starten, sobald die Mindestspieleranzahl anwesend ist. Durch Klick auf den Mülleimer schmeißen Sie Leute raus. Den Chat erreichen Sie im Spiel über den Chat-Button oben rechts.<br><span style="color: yellow">Noch nicht begonnene Spiele werden nach 1 Stunde, laufende nach 2 Tagen automatisch gelöscht.</span>{% endblocktrans %}
</p>
<div class="button-like" onclick=openLink("{% url 'multiplayer:create_match' activity.name %}")><img src="{% static 'icons/match.png' %}">{% blocktrans %}Match erstellen{% endblocktrans %}</div>
<p></p>
<div class="info-p">
    {% trans 'Online: ' %}
    {% for user in online_list %}
        <a href="{{ user.get_absolute_url }}">{{ user }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
<div class="joined-matches">
    <h2>{% trans 'Beigetreten' %}</h2>
    <div class="match-list">
        {% for match in user_matches.all %}
            <div class="item">
                <div class="top" style="justify-content: left">
                    <img src="{% static 'icons/match.png' %}">{{ match.members.count }}/{{ match.member_limit }}
                </div>
                
                <div class="middle">
                    {% for k, v in match.member_positions.items %}{% if v == match.admin.username %}<b style="color: red">{{ v }}</b>{% else %}{{ v }}{% endif %}{% if v and not forloop.last %}, {% endif %}{% endfor %}<br>
                    <span style="font-size: 10px">({% trans 'noch' %} {{ match.delete_date|timeuntil }})</span>
                </div>
                <div class="bottom">
                    <div class="button-like" onclick="openLink('{{ match.get_absolute_url }}')">
                        {% if match.in_progress %}
                            <img src="{% static 'icons/dog.png' %}">
                            {% trans 'Spielen' %}
                        {% else %}
                            <img src="{% static 'icons/chat.png' %}">
                            {% trans 'Zur Übersicht' %}
                        {% endif %}
                    </div>
                </div>
                {% if user == match.admin %}
                <img src="{% static 'icons/admin.png' %}" class="icon">
                {% elif user in match.members.all %}
                <img src="{% static 'icons/member.png' %}" class="icon">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<p style="clear: both"></p>
<div class="other-matches">
    <h2>{% trans 'Öffentliche Liste' %}</h2>
    <div class="match-list" id="other-matches">
        
    </div>
</div>
<div style="clear: both"></div>

{% endblock %}
{% block domready %}
    {% include 'javascript/lobby.js' with activity=activity%}
{% endblock %}