{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ activity }}-Lobby{% endblock %}
{% block style %}
{% include "css/lobby.css" %}
{% endblock %}

{% block content %}
<h1><a href="{{ activity.get_absolute_url }}">{{ activity }}</a>-Lobby</h1>
<div class="button-like" onclick=openLink("{% url 'multiplayer:create_match' activity.name %}")><img src="{% static 'icons/match.png' %}">{% blocktrans %}Match erstellen{% endblocktrans %}</div>
<p></p>
<div class="online-table">
    <table style="float: right;">
        <thead>
            <tr>
                <th>{% trans "Online" %}</th>
            </tr>
        </thead>
        <tbody id="online-list">
            {% for user in online_list %}
                <tr>
                    <td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="joined-matches">
    <h2>{% trans 'Ihre Matches' %}</h2>
    <div class="list">
        {% for match in user_matches.all %}
            <div class="item" style="width: 150px; height: 150px; cursor: auto; background-color: darkgrey">
                <img src="{% static 'icons/match.png' %}" class="image" style="height: 40px">
                <div class="title">
                    {{ match.members.all.count }}/{{ match.member_limit }}
                </div>
                <div class="subtext">
                    {% for member in match.members.all %}{{ member }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </div>
                <div class="button-like" onclick="openLink('{{ match.get_absolute_url }}')">
                    {% if match.in_progress %}
                        <img src="{% static 'icons/dog.png' %}">
                        {% trans 'Spielen' %}
                    {% else %}
                        <img src="{% static 'icons/chat.png' %}">
                        {% trans 'Zur Übersicht' %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<p style="clear: both"></p>
<div class="other-matches">
    <h2>{% trans 'Öffentliche Matches' %}</h2>
    <div class="list" id="other-matches">
        
    </div>
</div>

{% endblock %}
{% block domready %}
    {% include 'javascript/lobby.js' with activity=activity%}
{% endblock %}