{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ activity }}-Lobby{% endblock %}
{% block style %}
{% include "css/lobby.css" %}
{% endblock %}

{% block content %}
<h1>{{ activity }}-Lobby</h1>
<a href="{% url 'multiplayer:create_match' activity.name %}">{% trans "Match erstellen" %}</a>
<div>
    <table style="float: right;">
        <thead>
            <tr>
                <th>{% trans "Online" %}</th>
            </tr>
        </thead>
        <tbody id="online-list">
            {% for user in online_list %}
                <tr>
                    <td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <tr>
            <th>
                {% trans "Matches" %}
            </th>
        </tr>
        {% for match in user_matches.all %}
            <tr style="background-color: green; cursor: pointer;" onclick="location.href='/multiplayer/match/{{ match.activity.name }}/{{ match.id }}/';">
                <td>
                    {% for user in match.member_list %}
                        {{ user }} 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tbody id="match-list">
            
        </tbody>
    </table>
</div>

{% endblock %}
{% block domready %}
    {% include 'javascript/lobby.js' with activity=activity%}
{% endblock %}