{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account_tags %}

{% block title %}Skat{% endblock %}
{% block style %}{% include 'css/game.css' %}{% endblock %}

{% block content %}

<div class="game">
    <div class="back">
        <a href="{% call_method match 'lobby_url' request %}">Lobby</a>
    </div>
    <div class="leave">
        <a href="{% url 'multiplayer:leave_match' match.id %}">{% trans "Ciao!" %}</a>
    </div>
    <div class="game-field">
        
    </div>
    <div class="player1-info" id="player1">
        
    </div>
    <div class="player2-info">
        <div class="text" id="player2">
            
        </div>
    </div>
    <div class="player3-info" id="player3">
        
    </div>
    <div class="player4-info">
        <div class="text" id="player4">
            
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
    {% include 'javascript/cards.js' %}
    {% include 'javascript/skat.js' %}
{% endblock %}
