/*/migrations/*
**/__pycache__/*
**/.DS_Store
/static/*
/.idea/*
/media/post/*
/media/groups/*
/media/users/*
/media/audio/*
/media/video/*
/media/images/*
/log.log
/logs/*
**/*_q85.*
/dump.rdb
/backup/*