{% extends 'base.html' %}
{% load activity_filter %}

{% block title %}Chat-Liste{% endblock %}

{% block content %}
    <h1>Chat-Liste</h1>
    <h2>Gruppen</h2>
    {% for room in group_rooms %}
        <p>
            <a href="{{ room.get_absolute_url }}">{{ room.target.verbose }}</a>{% if room.id in new_messages %} ({{ new_messages|lookup:room.id }}){% endif %}
        </p>
    {% endfor %}
    <h2>Freunde</h2>
    {% for room in friend_rooms %}
        <p>
            <a href="{{ room.get_absolute_url }}">{{ room.target.verbose }}</a>{% if room.id in new_messages %} ({{ new_messages|lookup:room.id }}){% endif %}
        </p>
    {% endfor %}
    <h2>Matches</h2>
    {% for room in match_rooms %}
        <p>
            <a href="{{ room.get_absolute_url }}">{{ room.target.verbose }}</a>{% if room.id in new_messages %} ({{ new_messages|lookup:room.id }}){% endif %}
        </p>
    {% endfor %}
{% endblock %}