{% load i18n %}
{% load thumbnail %}
{% load static %}


<div class="chat-list" id="chat-list">
    {% for room, target in rooms %}
        <div class="chat-item" id="chat-item-{{ room.id }}" onclick="requestChatWindow({{ room.id }})">
            <div class="chat-list-image">
                <img src="{% thumbnail target.get_image 200x200 %}">
            </div>
            <div class="chat-list-title"{% if target.channel_name %}style="color: yellow"{% endif %}>
                {{ forloop.counter }}. {{ target }}
            </div>
            <div class="chat-bell">
                <img src="{% static 'icons/bell.png' %}" id="chat-bell-{{ room.id }}" {% if forloop.counter0 >= rooms_with_news_count %}style="display: none"{% endif %}>
            </div>
        </div>
    {% endfor %}
</div>
<div class="live-chat" id="live-chat">
    
</div>
