{% extends 'base.html' %}
{% load i18n %}
{% load account_tags %}

{% block title %}{{ target }}-{% trans "Chat" %}{% endblock %}

{% block content %}
<h1>{% trans "Chat" %}: <a href="{{ target.get_absolute_url }}"><span class="chat-room-title">{% call_method room 'title_for' user %}</span></a></h1>
    <p>
        {% trans "Teilnehmer" %}:
        {% for member in room.members.all %}
            <a href="{{ member.get_absolute_url }}">{{ member }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <div class="full-chat" id="full-chat-{{ room.id }}">
        {% for message in room.log_entries.all %}
            <div class="full-chat-message">
                {{ message.author }}, {{ message.created|date:"SHORT_DATETIME_FORMAT" }}: {{ message.text }}
            </div>
        {% endfor %}
    </div>
    <div id="chat-input">
        <textarea id="chat-message-input" class="chat-textarea" rows="4" cols="30"></textarea>
        <input id="chat-message-submit" onclick="submitClick();" type="submit" value="{% trans "Senden" %}">
    </div>
{% endblock %}

{% block domready %}
    var full_chat = document.getElementById('full-chat-{{ room.id }}');
    var input = document.getElementById('chat-message-input');
    var submit = document.getElementById('chat-message-submit');

    input.focus();
    input.onkeyup = function(e) {
        if (e.which == 13) {
            submitClick();
        }
    };

    function submitClick() {
        var message = input.value;
        if(message) {
            user_websocket.send(JSON.stringify({'message': message, 'id': {{ room.id }}}));
            input.value = "";
            input.focus();
        }
    };

    function addMessageToChat(data) {
        var message = data.message;
        var isMe = data.username === '{{ request.user.username }}';
        var name = isMe ? 'Sie' : data.username;

        full_chat.innerHTML += ('<div class="message"><b>' + name + ', ' + format_time_str(data.time) + ' </b> ' + message + '</div>');
    };

    window.onbeforeunload = function() {
        user_websocket.send(JSON.stringify({'update_check': '', 'id': {{ room.id }}}));
    };
{% endblock %}
