<html>
    <head>
        <meta charset="utf-8">
    </head>
    
    <body>
        <div class="chat-window">
            <div class="chat-top">
                Paulina, Tjilo, admin<img src="/home/yannik/projects/activities/account/static/icons/call.png" class="chat-call">
            </div>
            <div class="chat-middle">
                <div class="chat-message-left">
                    Was willst du?
                    <div class="message-info">
                        Paulina, 03.03.2021 01:39
                    </div>
                </div>
                <div class="chat-message-left">
                    <div class="message-content">
                        Was willst du??
                    </div>
                    <div class="message-info">
                        Paulina, 03.03.2021 01:40
                    </div>
                </div>
                <div class="chat-message-right">
                    <div class="message-content">
                        as dfasdf asdf asdf asdf asd fasd fasd fasd fasd fsad fasdf sadf asd fasdf asdfw efqwerasdg asdfasdlk fasdlf öjaskf jqwioerjqweiofaslködjf klasödj fklöasdj fklöasd flkasjfioqwejrklöwadsfklasdjfklöasdj fiopawueio
                    </div>
                    <div class="message-info">
                        admin, 03.03.2021 01:41
                    </div>
                </div>
                <div class="chat-message-right">
                    <div class="message-content">
                        Alles gut
                    </div>
                    <div class="message-info">
                        Paulina, 03.03.2021 01:41
                    </div>
                </div>
                <div class="chat-message-left">
                    <div class="message-content">
                        ok
                    </div>
                    <div class="message-info">
                        Paulina, 03.03.2021 01:43
                    </div>
                </div>
            </div>
            <div class="chat-bottom">
                <div contenteditable="true" class="chat-input"></div>
                <img class="chat-send-img" src="/home/yannik/projects/activities/account/static/icons/send.png">
            </div>
        </div>
    </body>
</html>