{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ category.name }}-{% trans "Gruppen" %}{% endblock %}

{% block content %}
    <h1>{{ category.name }}-{% trans "Gruppen" %}
    </h1>
    <div class="button-like" onclick=openLink("{% url 'usergroups:create_group' category.id %}")><img src="{% static 'icons/group.png' %}">{% trans "Gruppe erstellen" %}...</div>
    {% include 'activity/location_selection.html' %}
    {% include 'usergroups/loop.html' %}
{% endblock %}