{% extends 'base.html' %}

{% block title %}Gruppe bearbeiten{% endblock %}

{% block content %}
    <h1>Bearbeiten von "{{ group.name }}"</h1>
    <p>Gruppe gehört zu: <a href="{{ group.category.get_absolute_url }}">{{ group.category.verbose }}</a></p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Fertig">
    </form>
    <p><a href="{% url 'usergroups:delete_group' group.id %}">Gruppe löschen</a></p>
    <h2>Mitglieder verwalten</h2>
    <ul>
        {% for member in group.members.all %}
            {% if member != group.admin %}
                <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a> <a href="{% url 'usergroups:kick_out' group.id member.id %}">Entfernen</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}