{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Gruppe bearbeiten" %}{% endblock %}

{% block content %}
    <h1>{% trans "Bearbeiten von" %} <a href="{{ group.get_absolute_url }}">"{{ group.name }}"</a></h1>
    <p>{% trans "Gruppe gehört zu" %}: <a href="{{ group.category.get_absolute_url }}">{{ group.category.verbose }}</a></p>
    <form class="login-form" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% trans "Fertig" %}">
    </form>
    
    <h2>{% trans "Mitglieder verwalten" %}</h2>
    <ul>
        {% for member in group.members.all %}
            {% if member != group.admin %}
                <li><a href="{{ member.get_absolute_url }}">{{ member.username }}</a> <a href="{% url 'usergroups:kick_out' group.id member.id %}">{% trans "Entfernen" %}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="button-like" onclick=openLink("{% url 'usergroups:delete_group' group.id %}")>
        <img src="{% static 'icons/remove.png' %}">
        {% trans "Gruppe löschen" %}
    </div>
{% endblock %}