{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Gruppe erstellt" %}{% endblock %}

{% block content %}
    <h1>{% trans "Gruppe" %} "<a href="{{ group.get_absolute_url }}">{{ group.name }}</a>" {% trans "erstellt" %}</h1>
    <p>{% trans "Die Gruppe wurde erfolgreich erstellt" %}. <a href="{{ group.category.get_absolute_url }}">{% trans "Zurück" %}...</a></p>
    <p><a href="{% url 'usergroups:edit_group' group.id %}">{% trans "Gruppe bearbeiten" %}...</a></p>
{% endblock %}