{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
    {% if group.image %}
    <img src="{{ group.image.url }}" class="group-full-image">
    {% endif %}
    <h1 class="center-container">{{ group.verbose }}</h1>
    {% if user == group.admin %}<p class="center-container"><a href="{% url 'usergroups:edit_group' group.id %}">{% trans "Bearbeiten" %}</a></p>{% endif %}
    <p class="center-container">{{ group.description }}</p>
    
    {% if is_member %}
    <div class="button-like" onclick=openLink("{% url 'chat:chat_room' 'usergroups' 'usergroup' group.id %}")><img src="{% static 'icons/lobby.png' %}">{% trans "Zum Chat" %}
    </div>
    {% endif %}
    <p>{% trans "Gruppe gehört zur" %} <a href="{{ group.category.get_absolute_url }}">{{ group.category.verbose }}</a></p>
    {% if group.description %}
    {% endif %}
    <h2>{% trans "Mitglieder" %}</h2>
    {% include 'account/user_loop.html' with users=group.members.all %}
    <p style="clear: both"></p>
    {% if is_member %}
    <p><a class="center-container" href="{% url 'usergroups:leave_group' group.id %}"><button class="blue-button">{% trans "Austreten" %}</button></a></p>
    {% endif %}
    <h2>{% trans "Leerstellen" %}</h2>
    {% if group.vacancies.all.exists %}
        {% with target=group %}
        {% include 'vacancies/vacancy_list.html' %}
        {% endwith %}
    {% else %}
        {% trans "Zurzeit gibt es keine Leerstellen. Der Administrator kann welche erstellen" %}.
    {% endif %}
    {% if is_member %}
        <h2>{% trans "Einladungen" %}</h2>
        {% if group.invitations.all.exists %}
            {% include 'usergroups/invitation_list.html' %}
        {% endif %}
    {% endif %}
    {% if user == group.admin %}
        <p><a href="{% url 'vacancies:create_vacancies' 'usergroups' 'usergroup' group.id %}">{% trans "Leerstellen hinzufügen" %}</a> | <a href="{% url 'vacancies:create_invitation' 'usergroups' 'usergroup' group.id %}">{% trans "Jemanden einladen" %}</a></p>
    {% endif %}
    {% if is_member %}
        <h2>{% trans "Termine" %}</h2>
        <table>
            <tr>
                <th>{% trans "Wann" %}</th>
                <th>{% trans "Wo" %}</th>
                <th>{% trans "Zusagen" %}</th>
                <th>{% trans "Absagen" %}</th>
                <th>{% trans "Aktion" %}</th>
            </tr>
            {% for appointment in group.appointments.all %}
                <tr>
                    <td>{{ appointment.start_time }}</td>
                    <td>{{ appointment.location }}</td>
                    <td>
                        {{ appointment.participants.all|length }}/{{ group.members.all|length }}:
                        {% for user in appointment.participants.all %}
                            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {{ appointment.cancellations.all|length }}/{{ group.members.all|length }}:
                        {% for user in appointment.cancellations.all %}
                            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if user in appointment.participants.all %}
                            <a href="{% url 'scheduling:cancel_confirmation' appointment.id %}">{% trans "Zusage zurücknehmen" %}</a>
                            {% elif user in appointment.cancellations.all %}
                                <a href="{% url 'scheduling:cancel_cancellation' appointment.id %}">{% trans "Absage zurücknehmen" %}</a>
                            {% else %}
                                <a href="{% url 'scheduling:confirm_appointment' appointment.id %}">{% trans "Zusagen" %}</a> | <a href="{% url 'scheduling:decline_appointment' appointment.id %}">{% trans "Absagen" %}</a>
                        {% endif %}
                        {% if user == group.admin %}
                            | <a href="{% url 'scheduling:delete_appointment' appointment.id %}">{% trans "Löschen" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if user == group.admin %}
        <p><a href="{% url 'scheduling:create_appointment' group.id %}">{% trans "Termin erstellen" %}</a></p>
    {% endif %}
    <p>{% trans "Administrator" %}: <a href="{{ group.admin.get_absolute_url }}">{{ group.admin }}</a></p>
    <h3>{% trans "Posts" %}</h3>
    {% if is_member %}
        <p><a href="{% url 'wall:create_post' 'usergroups' 'usergroup' group.id %}">{% trans "Post erstellen" %}...</a></p>
    {% endif %}
    {% include 'wall/post/post_loop.html' %}
{% endblock %}