{% load static %}
{% load i18n %}

<div class="match-list">
    {% for invitation in invitations.all %}
    <div class="item" style="width: 200px; height: 150px; cursor: pointer;" onclick=openLink("{{ invitation.target.get_absolute_url }}")>
        <div class="top" style="height: 35%;">
            <span>{{ invitation.target }}</span>
        </div>
        <div class="middle" style="height: 45%; top: 36%;">
            {{ invitation.message }}
        </div>
        <div class="bottom" style="bottom: 0; height: 20%">
            <div class="button-like" onclick=openLink("{% url 'vacancies:delete_invitation' invitation.id %}")>
                <img src="{% static 'icons/remove.png' %}">
                {% trans 'Löschen' %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>