{% load activity_filter %}
{% load i18n %}

<table>
    <tr>
        <th>{% trans "Nutzer" %}</th>
        <th>{% trans "Nachricht" %}</th>
        <th>{% trans "Aktion" %}</th>
    </tr>
    {% for invitation in group.invitations.all %}
        <tr>
            <td><a href="{{ invitation.user.get_absolute_url }}">{{ invitation.target.username }}</a></td>
            <td>{{ invitation.message }}</td>
            <td>
                {% if user == group.admin %}
                    <a href="{% url 'vacancies:delete_invitation' invitation.id %}">{% trans "Löschen" %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>