{% extends 'base.html' %}

{% block title %}Ihre Gruppen{% endblock %}

{% block content %}
    <h1>Ihre Gruppen</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Mitglieder</th>
        </tr>
        {% for group in user.user_groups.all %}
            <tr>
                <td><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></td>
                <td>{{ group.description|truncatewords:30 }}</td>
                <td>{{ group.members.all|length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}