{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Alle Aktivitäten" %}{% endblock %}

{% block content %}
    <h1>{% trans "Alle Aktivitäten" %}</h1>
    <p>
        {% trans "Mitglieder anzeigen" %}: <br/>
        {% include 'activity/location_selection.html' %}
    </p>
    <div class="list">
    {% for activity, count in activities %}
        <div class="item" onclick="location.href='{{ activity.get_absolute_url }}'">
        {% load thumbnail %}
            <img src="{% thumbnail activity.image 200x200 %}" class="image">
            <div class="title">
                {{ activity }}
            </div>
            <div class="subtext">
                {% trans "Mitglieder" %}: {{ count }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}