{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Alle Kategorien" %}{% endblock %}

{% block content %}
    <h1>{% trans "Alle Kategorien" %}</h1>
    <p>{% trans "Hier eine Liste aller verfügbaren Kategorien" %}:</p>
    <div class="list">
        {% for category in categories %}
            <div class="item fixed" onclick="location.href='{{ category.get_absolute_url }}'">
            {% load thumbnail %}
                <img src="{% thumbnail category.image 200x200 %}" class="image">
                <div class="title">
                    {{ category }}
                </div>
                <div class="subtext">
                    {% for activity in category.activities.all %}<a href="{{ activity.get_absolute_url }}">{{ activity }}</a> {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}