{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    {% if category.image %}
        <img src="{{ category.image.url }}" width="200px" class="category-full-image">
        <div class="center-container img-description">
            <a href="{% if category.image_source %}{{ category.image_source }}{% else %}{% url 'activity:no_source' %}{% endif %}">
                [{% trans 'Quelle' %}]
            </a>
        </div>
    {% endif %}
    <h1 class="center-container">{{ category.verbose }}</h1>
    <p class="center-container"><i>{{ category.description }}</i></p>
    <h2>
        <div class="button-like" onclick=openLink("{% url 'usergroups:group_list' category.id %}")><img src="{% static 'icons/groups.png' %}">{% trans "Zu den Gruppen" %}</h2>
    <p>{% trans "Folgende Aktivitäten gehören zu dieser Kategorie" %}:</p>
        {% include "activity/loop.html" with activities=category.activities%}
    <div class="profile-rest">
        <h3>{% trans "Posts in" %} {{ chosen_component }}</h3>
        {% include 'activity/location_selection.html' %}
        {% include 'wall/post/post_loop.html' %}
    </div>
{% endblock %}