{% extends 'base.html' %}
{% load i18n %}
{% load activity_filter %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
    {% if activity.image %}
        <img src="{{ activity.image.url }}" width="200px" class="activity-full-image">
    {% endif %}
    <h1>{{ activity.verbose }}</h1>
    {% if activity.category %}
        <h2><a href="{{ activity.category.get_absolute_url }}">{{ activity.category.verbose }}</a></h2>
    {% endif %}
    {% if activity.type == 'competitive' %}
        <h3><a href="{% url 'competitions:overview' activity.id %}">{% trans "Matches & Turniere" %}</a>
        {% if activity.online and is_member %}
            | <a href="{% url 'multiplayer:lobby' activity.name %}">{% trans "Online spielen" %}</a>
        {% endif %}
        </h3>
    {% endif %}
    <p>{{ activity.description }}</p>
        {% if is_member %}
            <p>
            {% trans "Sie sind Mitglied dieser Aktivität" %}. <a href="{% url 'activity:leave' activity.name %}">{% trans "Austreten" %}...</a>
            </p>
            <h3>{% trans "Suche nach Mitgliedern" %}</h3>
            <p>{% include 'activity/location_selection.html' %}</p>
            {% if users %}
                <table>
                    <tr><th>{% trans "Nutzername" %}</th></tr>
                    {% for u in users %}
                        <tr><td><a href="{{ u.get_absolute_url }}">{{ u.username }}</a></td></tr>
                    {% endfor %}
                </table>
            {% else %}
                <p><b>{% trans "Keine" %}.</b></p>
            {% endif %}
        {% else %}
            <p>
                {% trans "Sie sind noch kein Mitglied. Falls Sie sehen wollen, wer in Ihrer Umgebung Teil dieser Aktivität ist" %}, <a href="{% url 'activity:join' activity.name %}">{% trans "treten Sie Ihr bei" %}.</a>
            </p>
        {% endif %}
    </p>

    <h3>{% trans "Beiträge" %} {{ chosen_component|inim }}</h3>
    <h2><a href="{% url 'wall:create_post' 'activity' 'activity' activity.id activity.id %}">{% blocktrans %}Post erstellen...{% endblocktrans %}</a></h2>
    {% include 'wall/post/post_loop.html' %}
{% endblock %}