{% extends 'base.html' %}
{% load i18n %}
{% load activity_filter %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
    {% if activity.image %}
        <img src="{% thumbnail activity.image 400x400 %}" class="activity-full-image">
        <div class="center-container img-description">
            <a href="{% if activity.image_source %}{{ activity.image_source }}{% else %}{% url 'activity:no_source' %}{% endif %}">
                [{% trans 'Quelle' %}]
            </a>
        </div>
    {% endif %}
    <div>
        <h1 class="center-container" style="margin-bottom: 0;">
            {{ activity.verbose }}
        </h1>
        {% if activity.description %}
            <p class="center-container">
                <i>
                    {{ activity.description }}
                </i>
            </p>
        {% endif %}
        <p class="center-container">
            <b>
                <i>
                    <span id="info">
                        
                    </span>
                </i>
            </b>
            {% if suggestion %}
                <br>
                {% trans 'Passt zu Ihnen zu: ' %}{{ suggestion.score }}%
            {% endif %}
        </p>
    </div>
    <div class="info-p">
        {% if activity.categories.all %}
            <h2>
                {% trans 'Gehört zu: ' %}
                {% for category in activity.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </h2>
        {% endif %}
        {% if user.is_staff %}
            <a class="center-container" style="font-weight: bold; margin-bottom: 10px; font-size: 24px" href="{% url 'character:edit_weights' activity.id %}">
                {% trans 'Gewichtungen bearbeiten' %}
            </a>
        {% endif %}
        {% if is_member %}
        {% if activity.type == 'competitive' %}
        <div class="competitive">
            <div class="left" onclick="location.href='{% url 'competitions:overview' activity.id %}'">
                <img src="{% static 'icons/tournament.png' %}">
                {% trans "Offline spielen" %}
            </div>
            {% if activity.online and is_member %}
                <div class="right" onclick="location.href='{% url 'multiplayer:lobby' activity.name %}'">
                    <img src="{% static 'icons/dog.png' %}">
                    {% trans "Online spielen" %}
                </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="button-like" onclick=openLink("{% url 'chat:chat_room' 'activity' 'activity' activity.id %}")>
            <img src="{% static 'icons/chat.png' %}">
            {% if joined_chat %}
                {{ activity }}-Chat
            {% else %}
                {% blocktrans with activity=activity %}{{ activity }}-Chat beitreten{% endblocktrans %}
            {% endif %}
        </div>
    </div>
    <p>
        <div class="center-container"><button class="blue-button" onclick=openLink("{% url 'activity:leave' activity.name %}")>{% trans "Austreten" %}</button></div>
    </p>
    <h3 style="text-align: center; margin-bottom: 0;">{% trans "Suche nach Mitgliedern" %}...</h3>
    <div class="center-container">{% include 'activity/location_selection.html' %}</div>
    <script src="https://unpkg.com/leaflet@1.7.0/dist/leaflet.js"
   integrity="sha256-pD9Cox8CPqDpiun+M4KOJApykPCR0A17ueVPs+9WEs0="
   crossorigin=""></script>
   <div id="mapid"></div>
   <div class="django-message" id="django-message" style="display: none">
        <p>{% trans 'Die Markierung ' %} "<span id="loc"></span>"{% blocktrans with act=activity comp=chosen_component %} ist nun für alle Mitglieder der Aktivität "{{ act }}" in {{ comp }} sichtbar. Unter "<a style="color: lightblue" href='/account/edit/'>Account bearbeiten</a>" können Sie Ihre Markierungen bearbeiten.{% endblocktrans %}</p>
        <div class="center-container"><a class="blue-button" onclick="document.getElementById('django-message').style.display='none';">{% trans "OK!" %}</a></div>
</div>
   <div id="input-window">
       <h2>{% trans 'Standortmarkierung' %}</h2>
    {% trans "Wie heißt der Ort, an dem Sie sich befinden?" %}<br>
    <input type="text" id='input'><br>
    <button id="send">{% trans 'Senden' %}</button><button id="cancel">{% trans 'Abbrechen' %}</button>
</div>
   <script>
    {% include 'javascript/map.js' %}
</script>
    {% if component_index == 3 %}
        <div class="competitive" style="margin: 10px 10px">
            <div class="left" onclick="addMarker()">
                <img src="{% static 'icons/location.png' %}">
                <span id="mark">{% trans 'Standort markieren' %}</span>
            </div>
            <div class="right" onclick="markCurrent()">
                <img src="{% static 'icons/question.png' %}">
                <span id="where">{% trans 'Wo bin ich?' %}</span>
            </div>
        </div>
    {% else %}
        <div style="margin-top: 10px" class="button-like" onclick="markCurrent()">
            <img src="{% static 'icons/question.png' %}">
            <span id="where">{% trans 'Wo bin ich?' %}</span>
    </div>
    {% endif %}
    <br>
    {% include 'account/user_loop.html' %}
    <p style="clear: both"></p>
{% else %}
    <p>
        {% trans "Um Mitglieder anzeigen und Orte markieren zu können, müssen Sie beitreten." %}
    </p>
</div>
    <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'activity:join' activity.name %}")>{% trans "Beitreten" %}</button></div></p>
{% endif %}

    <h3>{% trans "Beiträge" %} {{ chosen_component|inim }}</h3>
    <div class="button-like" onclick=openLink("{% url 'wall:create_post' 'activity' 'activity' activity.id %}")><img src="{% static 'icons/post.png' %}">{% blocktrans %}Post erstellen{% endblocktrans %}</div>
    {% include 'wall/post/post_loop.html' %}
{% endblock %}

{% block domready %}
{% include 'javascript/categories.js' %}
{% include 'javascript/display_weights.js' %}
window.addEventListener('load', function() {
        displayWeights(JSON.parse('{{ activity.weights_json|safe }}'));
    if(info.innerText.length == 0) {
        info.parentElement.parentElement.style.display = "none";
    }
});

{% endblock %}