{% extends 'base.html' %}
{% load i18n %}
{% load activity_filter %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
    {% if activity.image %}
        <img src="{% thumbnail activity.image 400x400 %}" class="activity-full-image">
        <div class="center-container img-description">
            <a href="{% if activity.image_source %}{{ activity.image_source }}{% else %}{% url 'activity:no_source' %}{% endif %}">
                [{% trans 'Quelle' %}]
            </a>
        </div>
    {% endif %}
    <h1 class="center-container">{{ activity.verbose }}</h1>
    <p class="center-container"><i>{{ activity.description }}</i></p>
    <p class="center-container"><i><span id="info"></span></i></p>
    <h2>
        {% trans 'Gehört zu: ' %}
        {% for category in activity.categories.all %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h2>
    
    {% if is_member %}
    {% if activity.type == 'competitive' %}
    <div class="competitive">
        <div class="left" onclick="location.href='{% url 'competitions:overview' activity.id %}'">
            <img src="{% static 'icons/tournament.png' %}">
            {% trans "Offline spielen" %}
        </div>
        {% if activity.online and is_member %}
            <div class="right" onclick="location.href='{% url 'multiplayer:lobby' activity.name %}'">
                <img src="{% static 'icons/dog.png' %}">
                {% trans "Online spielen" %}
            </div>
        {% endif %}
    </div>
    <span style="clear: both;"></span>
    {% endif %}
    <div class="button-like" onclick=openLink("{% url 'chat:chat_room' 'activity' 'activity' activity.id %}")>
        <img src="{% static 'icons/chat.png' %}">
        Chat
    </div>
    {% if user.is_staff %}
    <a class="center-container" style="font-weight: bold; margin-top: 10px" href="{% url 'character:edit_weights' activity.id %}">{% trans 'Gewichtungen bearbeiten' %}</a>
    {% endif %}
         <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'activity:leave' activity.name %}")>{% trans "Austreten" %}</button></div></p>
        <h3>{% trans "Suche nach Mitgliedern" %}</h3>
        <p>{% include 'activity/location_selection.html' %}</p>
        {% include 'account/user_loop.html' %}
        <p style="clear: both"></p>
    {% else %}
        <p>
            {% trans "Um Mitglieder anzeigen zu können, müssen Sie beitreten." %}
        </p>
        <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'activity:join' activity.name %}")>{% trans "Beitreten" %}</button></div></p>
    {% endif %}

    <h3>{% trans "Beiträge" %} {{ chosen_component|inim }}</h3>
    <div class="button-like" onclick=openLink("{% url 'wall:create_post' 'activity' 'activity' activity.id activity.id %}")><img src="{% static 'icons/post.png' %}">{% blocktrans %}Post erstellen{% endblocktrans %}</div>
    {% include 'wall/post/post_loop.html' %}
{% endblock %}

{% block domready %}
{% include 'javascript/categories.js' %}
{% include 'javascript/display_weights.js' %}
displayWeights(JSON.parse('{{ activity.weights_json|safe }}'));
if(info.innerText.length == 0) {
    info.parentElement.parentElement.style.display = "none";
}
{% endblock %}