{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load cookielaw_tags %}
{% load account_tags %}

{% block title %}{% trans "Einloggen" %}{% endblock %}

{% block content %}
    <div class="center-container">
    <div class="login">
    <div style="float: left">{% trans 'Nutzer gesamt: ' %}{% total_count %}</div>
    <div style="float: right">{% trans 'Online: ' %} {% online_count %}</div>
        <h1 class="h-img"><img src="{% static 'icons/login.png' %}">{% blocktrans %}Einloggen{% endblocktrans %}</h1>
        
        <p><strong>{% trans "Willkommen bei myactivities.net! :)" %}</strong></p>
        <div class="button-like" onclick=openLink("{% url 'account:about' %}")><img src="{% static 'icons/question.png' %}">{% trans "Was ist das hier?" %}</div>
        <p>{% trans "Bitte nutzen Sie das folgende Formular zum Einloggen:" %}</p>
        <form class="login-form" method="post" action="{% url 'account:login' %}" class="login-form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div style="display: flex; align-items: center">
                <input type="submit" value="{% trans "Einloggen" %}">
                <input class="blue-button" style="background-color: green;" type="button" value="{% trans 'Gastzugang' %}" onclick=openLink("{% url 'account:guest_access' %}")>
            </div>
        </form>
        <div class="competitive" style="margin: 10px 0; font-size: 16px;">
            <div class="left" onclick=openLink("{% url 'account:password_reset' %}")>
                <img src="{% static 'icons/password_reset.png' %}">
                {% trans "Passwort zurücksetzen" %}
            </div>
            <div class="right" onclick=openLink("{% url 'account:register' %}")>
                <img src="{% static 'icons/registration.png' %}">
                {% trans "Registrieren" %}
            </div>
        </div>
    </div>
    </div>
    <a href="https://www.instagram.com/myactivities_net/" class="follow" style="color: white;">
        <img src="{% static 'icons/instagram.png' %}"> Instagram
    </a>
{% endblock %}