{% load static %}
{% load thumbnail %}
{% load account_tags %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Solway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Finger+Paint">
    
    <title>myactivities.net</title>
    
    <style>
      html, body {
        height: 100%;
        
        font-family: "Solway";
      }
      h1 {
        font-size: 5rem;
      }
      .round-item {
        border-radius: 40px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-12 text-center shadow">
          <img class="img-fluid mb-2" src="{% static 'Logo.png' %}">
        </div>
      </div>
      <div class="row position-relative">
        <div class="col-12 text-center">
          <h2>Determine your personality! Find people and activities matching your character!</h2>
        </div>
      </div>
      <div class="row position-relative" style="margin-top: 20px; ;">
        
        <div class="col-3 d-flex flex-column">
          <img src="{% category_image 'Sports' %}" class="round-item">
          <img src="{% activity_image 'Running' %}" class="round-item">
          <img src="{% activity_image 'Swimming' %}" class="round-item">
          <img src="{% activity_image 'Pool' %}" class="round-item">
          <img src="{% activity_image 'Golf' %}" class="round-item">
        </div>
        <div class="col-3 d-flex flex-column">
          <img src="{% category_image 'Chilling' %}" class="round-item">
          <img src="{% activity_image 'Strolling' %}" class="round-item">
          <img src="{% activity_image 'Yoga' %}" class="round-item">
          <img src="{% activity_image 'Picnicking' %}" class="round-item">
          <img src="{% activity_image 'Reading' %}" class="round-item">
        </div>
        <div class="col-3 d-flex flex-column">
          <img src="{% category_image 'Card games' %}" class="round-item">
          <img src="{% activity_image 'Poker' %}" class="round-item">
          <img src="{% activity_image 'Skat' %}" class="round-item">
          <img src="{% activity_image 'Durak' %}" class="round-item">
        </div>
        <div class="col-3 d-flex flex-column">
          <img src="{% category_image 'Leisure' %}" class="round-item">
          <img src="{% activity_image 'Gardening' %}" class="round-item">
          <img src="{% activity_image 'Diving' %}" class="round-item">
          <img src="{% activity_image 'Zoo' %}" class="round-item">
          <img src="{% activity_image 'Knitting' %}" class="round-item">
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
