{% extends 'base.html' %}

{% block title %}Einloggen{% endblock %}

{% block content %}
    <h1>Einloggen</h1>
    {% if form.errors %}
        <p>
            Nutzername und Passwort stimmen nicht überein. Versuch's nochmal.
        </p>
    {% else %}
        <p>Bitte nutzen Sie das folgende Formular zum einloggen:</p>
        <form method="post" action="{% url 'account:login' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Einloggen"></p>
        </form>
    {% endif %}
    <p>Passwort vergessen? <a href="{% url 'account:password_reset' %}">Setzen Sie Ihr Passwort hier zurück.</a></p>
    <p>Noch keinen Account? <a href="{% url 'account:register' %}">Hier registrieren.</a></p>
{% endblock %}