{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Passwort ändern{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Passwort ändern{% endblocktrans %}</h1>
    <p>{% blocktrans %}Sie sollten demnächst eine E-Mail mit Anweisungen zur Passwortzurücksetzung erhalten.{% endblocktrans %}</p>
    <p>{% blocktrans %}Sollten Sie keine E-Mail erhalten, überprüfen Sie, dass Sie die E-Mail-Adresse eingegeben haben, mit der Sie sich registriert haben.{% endblocktrans %}</p>
{% endblock %}