{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Passwort zurücksetzen{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Passwort vergessen?{% endblocktrans %}</h1>
    <p>{% blocktrans %}Geben Sie ihre E-Mail Adresse ein, um ein neues Passwort zugeschickt zu bekommen.{% endblocktrans %}</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Senden{% endblocktrans %}">
    </form>
{% endblock %}