{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Passwort zurücksetzen{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Passwort zurücksetzen{% endblocktrans %}</h1>
    {% if validlink %}
        <p>{% blocktrans %}Bitte geben Sie das neue Passwort zweimal ein:{% endblocktrans %}</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="{% blocktrans %}Ändern{% endblocktrans %}">
        </form>
    {% else %}
    <p>{% blocktrans %}Der Link ist ungültig. Vermutlich wurde er bereits zum Zurücksetzen des Passworts verwendet. Bitte lassen Sie sich erneut einen zusenden.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}