{% extends 'base.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <h1>Passwort zurücksetzen</h1>
    {% if validlink %}
        <p>Bitte geben Sie das neue Passwort zweimal ein:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Ändern"></p>
        </form>
    {% else %}
    <p>Der Link ist ungültig. Vermutlich wurde er bereits zum Zurücksetzen des Passworts verwendet. Bitte lassen Sie sich erneut einen zusenden.</p>
    {% endif %}
{% endblock %}