{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Registriert{% endblocktrans %}{% endblock %}

{% block content %}
    <h1 class="h-img"><img src="{% static 'icons/checkmark.png' %}">{% blocktrans %}Registriert{% endblocktrans %}</h1>
    <p class="info-p">{% blocktrans %}Ihnen wurde soeben eine Aktivierungs-E-Mail zugesendet. Klicken Sie auf den Link in der E-Mail, um Ihren Account zu aktivieren. Sie werden dann automatisch eingeloggt.{% endblocktrans %}</a></p>
{% endblock %}