{% extends 'base.html' %}
{% load i18n %}
{% load cookielaw_tags %}
{% load account_tags %}
{% load static %}

{% block title %}{% blocktrans %}Registrieren{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="center-container">
    <div class="login">
    <div style="float: left">{% trans 'Nutzer gesamt: ' %}{% total_count %}</div>
    <div style="float: right">{% trans 'Online: ' %} {% online_count %}</div>
        <h1 class="h-img"><img src="{% static 'icons/registration.png' %}">{% blocktrans %}Registrieren{% endblocktrans %}</h1>
        
        <p class="info-p">
            <strong>{% trans "Willkommen bei myactivities.net! :)" %}</strong><br><br>
            {% trans "Bitte nutzen Sie das folgende Formular zum registrieren:" %}
        </p>
            <form class="login-form" method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p class="info-p">
                    {% trans "Wo leben Sie derzeit? Das Bestimmen Ihres Ortes kann mehrere Sekunden in Anspruch nehmen." %}
                </p>
                {{ location_form.as_p }}
                <input type="submit" value="{% trans "Registrieren" %}">
            </form>
    </div>
    </div>
{% endblock %}