{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Termin erstellen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Termin erstellen" %}</h1>
    <p><a href="{{ group.get_absolute_url }}">{{ group }}</a></p>
    <p>{% trans "Bitte füllen Sie folgendes Formular aus, um ein Treffen zu vereinbaren" %}.</p>
    <form class="login-form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% trans "Fertig" %}">
    </form>
    {% include 'scheduling/datetimepicker.html' %}
{% endblock %}
