{% load static %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}">
<script src="{% static 'javascript/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    const formats = {
        'de': 'd.m.Y H:i',
        'en': 'm/d/y H:i'
    };
    const code = '{{ request.LANGUAGE_CODE }}';
    jQuery.datetimepicker.setLocale(code);
    $('.datetime').datetimepicker({
        format: formats[code],
        dayOfWeekStart: 1,
        closeOnWithoutClick: false,
        step: 30
    });
</script>