{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Bewerbungen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Bewerbungen" %}</h1>
    <table>
        <tr>
            <th>{% trans "Ziel" %}</th>
            <th>{% trans "Leerstelle" %}</th>
            <th>{% trans "Text" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Aktion" %}</th>
        </tr>
        {% for application in user.applications.all %}
            <tr>
                <td><a href="{{ application.vacancy.target.get_absolute_url }}">{{ application.vacancy.target }}</a></td>
                <td>{{ application.vacancy.description }}</td>
                <td>{{ application.text }}</td>
                <td>{{ application.get_status_display }}</td>
                <td>
                    {% if application.status == 'pending' %}
                        <a href="{% url 'vacancies:delete_application' application.id %}">{% trans "Löschen" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>{% trans "Einladungen" %}</h2>
    <table>
        <tr>
            <th>{% trans "Sender" %}</th>
            <th>{% trans "Nachricht" %}</th>
            <th>{% trans "Aktion" %}</th>
        </tr>
        {% for invitation in invitations.all %}
            <tr>
                <td><a href="{{ invitation.sender.get_absolute_url }}">{{ invitation.sender.verbose }}</a></td>
                <td>{{ invitation.message }}</td>
                <td><a href="{% url 'vacancies:accept_invitation' invitation.id %}">{% trans "Annehmen" %}</a> | <a href="{% url 'vacancies:delete_invitation' invitation.id %}">{% trans "Löschen" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}