{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Bewerben" %}{% endblock %}

{% block content %}
    <h1>{% trans "Auf Leerstelle bewerben" %}</h1>
    <p>{% trans "Leerstelle gehört zu" %}: <a href="{{ vacancy.target.get_absolute_url }}">{{ vacancy.target }}</a></p>
    <p>{% trans "Beschreibung" %}: {{ vacancy.description }}</p>
    <p>{% trans "Erzählen Sie etwas über sich" %}:</p>
    <form class="login-form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% trans "Senden" %}">
    </form>
{% endblock %}