{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Bewerbungen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Bewerbungen" %}</h1>
    <div class="match-list">
        {% for application in user.applications.all %}
        <div class="item" style="width: 250px; height: 200px; cursor: pointer;" onclick=openLink("{{ application.vacancy.target.get_absolute_url }}")>
            <div class="top" style="height: 35%; overflow-y: scroll; scrollbar-width: none; word-wrap: break-word; align-items: center-stretch">
                <span style="padding: 5px 5px; text-align: center">{{ application.vacancy.target }}: {{ application.vacancy }}</span>
            </div>
            <div class="middle" style="height: 45%; top: 36%;">
                {{ application.message }}
            </div>
            <div class="bottom" style="bottom: 0; height: 20%">
                {% if application.status == 'pending' %}
                <div class="button-like" onclick=openLink("{% url 'vacancies:delete_application' application.id %}")>
                    <img src="{% static 'icons/remove.png' %}">
                    {% trans 'Löschen' %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>{% trans "Einladungen" %}</h2>
    {% include 'vacancies/invitation_list.html' %}
    
{% endblock %}