{% load activity_filter %}
{% load i18n %}
{% load static %}

<div class="match-list">
    {% for vacancy in target.vacancies.all %}
    {% with status=user.application_dict|lookup:vacancy.id %}
    <div class="item" style="width: 270px; height: 200px;">
        <div class="top" style="height: 35%; overflow-y: scroll; scrollbar-width: none; word-wrap: break-word; align-items: center-stretch">
            <span style="padding: 5px 5px; text-align: center">{{ vacancy.description }}</span>
        </div>
        <div class="middle" style="height: 45%; top: 36%;">
            {% trans 'Ort' %}: {{ vacancy.location_component_value }}<br>
            {% trans 'Geschlecht' %}: {{ vacancy.sex|default_if_none:"/" }}<br>
            {% trans 'Alter' %}: {{ vacancy.min_age|default_if_none:"/" }} - {{ vacancy.max_age|default_if_none:"/" }}
        </div>
        <div class="bottom" style="bottom: 0; height: 20%">
            {% if user == target.admin %}
                <div class="competitive" style="font-size: 16px">
                    <div class="left" onclick=openLink("{% url 'vacancies:review_vacancy' vacancy.id %}")>
                        <img src="{% static 'icons/interview.png' %}">
                        {% trans 'Bewerbungen' %}
                    </div>
                    <div class="right" onclick=openLink("{% url 'vacancies:edit_vacancy' vacancy.id %}")>
                        <img src="{% static 'icons/pen.png' %}">
                        {% trans 'Bearbeiten' %}
                    </div>
                </div>
            {% elif is_member %}
                <div class="button-like" onclick=openLink("{% url 'vacancies:review_vacancy' vacancy.id %}")>
                    <img src="{% static 'icons/interview.png' %}">
                    {% trans 'Bewerbungen' %}
                </div>
            {% else %}
            
                {% if not status %}
                    <div class="button-like" onclick=openLink("{% url 'vacancies:apply_for_vacancy' vacancy.id %}")>
                        <img src="{% static 'icons/interview.png' %}">
                        {% trans 'Bewerben' %}
                    </div>
                {% else %}
                    <div class="button-like" style="cursor: default; background-color: darkgray")>
                        <img src="{% static 'icons/wait.png' %}">
                        {% trans 'Abwarten' %}
                    </div>
                {% endif %}
            {% endif %}     
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>