.chat-window {
    width: 100%;
    height: 100%;
}
.chat-window a {
    color: white;
}
.chat-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.chat-call {
    height: 50px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: gray
}
.chat-members {
    height: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    right: 80px;
    top: 0;
}
.chat-title {
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 50px;
    word-wrap: none;
    display: flex;
    align-items: center;
    max-width: 40%;
    overflow-x: scroll;
    font-size: 14px;
}

.chat-title:hover {
    background-color: lightgray;
}

.chat-member {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    display: none;
    font-weight: bold;
}
.chat-member:hover {
    background-color: lightgray;
}
.chat-members a {
    min-width: 0;
    flex-shrink: 0;
}
.chat-members img {
    padding-right: 5px;
    height: 40px;
    border-radius: 15px;
}
.chat-middle {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    margin-bottom: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #2d2d2d;
}
.chat-middle::-webkit-scrollbar {
    display: none;
}
.chat-message-right {
    background-color: lightblue;
    color: black;
    display: block;
    margin: 10px 5% 10px 30%;
    padding: 5px 5px;
    border-radius: 10px;
    word-wrap: break-word
}
.chat-message-left {
    background-color: darkcyan;
    display: block;
    margin: 10px 30% 10px 5%;
    padding: 5px 5px;
    border-radius: 10px;
    color: black;
    word-wrap: break-word;
}
.message-info {
    font-size: 12px;
    padding-bottom: 5px;
}
.chat-bottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 50px; 
    padding: 5px 5px;
    align-items: center;
    background-color: lightgrey;
}
.chat-send-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-send-img img {
    height: 40px;
    cursor: pointer;
}
.chat-input {
    width: 80%;
    height: 40px;
    font-size: 22px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid black;
    background-color: white;
    color: black;
    word-wrap: break-word;
    border-radius: 15px;
    padding: 5px 5px;
    outline-style: none;
}
.chat-input::-webkit-scrollbar {
    display: none;
}

.right-chat {
    position: fixed;
    top: 40px;
    bottom: 0;
    max-width: 350px;
    right: 0;
    width: 50%;
    background-color: lightgray;
    z-index: 10000;
    font-family: "Arial", "Verdana", "Helvectica";
}

@media screen and (max-width: 768px) {
    .right-chat {
        width: 100%;
        max-width: 100%;
    }
}

.right-chat.clicked {
    display: flex;
}

.right-chat .chat-list {
    position: absolute;
    width: 100%;
    height: 40%;
    overflow-y: scroll;
    word-wrap: break-word; 
    padding-top: 5px;
}

.right-chat .chat-list .chat-item {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: darkgray;
    border-radius: 15px;
}

.right-chat .chat-list .chat-item:hover {
    cursor: pointer;
    background-color: darkcyan
}

.chat-item .chat-list-image {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-item .chat-list-title {
    position: absolute;
    left: 20%;
    top: 0;
    height: 100%;
    right: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.chat-item img {
    border-radius: 10px;
    max-width: 55px;
    max-height: 100%;
}

.chat-item .chat-bell {
    position: absolute;
    left: 80%;
    right: 0;
    height: 100%;
}

.right-chat .live-chat {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}