{% load static %}

.game {
    position: absolute;
    left: 30%;
    top: 70px;
    bottom: 0;
    right: 0;
    max-width: 1000px;
    min-height: 500px;
}

.game::selection {
    background: transparent;
}

.player1-info {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
}

.player2-info {
    position: absolute;
    bottom: 40px;
    top: 20%;
    left: 0;
    width: 40px;
}

.player2-info .text {
    position: absolute;
    text-align: center;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 20px 50%;
}

.player3-info {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
}

.player4-info {
    position: absolute;
    bottom: 40px;
    top: 20%;
    right: 0;
    width: 40px;
}

.player4-info .text {
    position: absolute;
    text-align: center;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 20px 50%;
}

.game-field {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 40px;
    bottom: 40px;
    overflow: hidden;
    border: 1px solid gray;
    background-color: green;
}
.player1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 192px;
    margin: 0 5px 5px 5px;
    overflow-x: hidden;
}

.player2 {
    position: absolute;
    top: 80px;
    bottom: 350px;
    left: -50px;
}

.player3 {
    position: absolute;
    top: -80px;
    left: 125px;
    height: 100px;
    max-height: 20%;
    width: 60%;
}

.player4 {
    position: absolute;
    top: 160px;
    right: 0px;
    width: 123px;
    bottom: 350px;
}

.card {
    
}

.deck {
    background: url("{% static 'output.png' %}") no-repeat -246px -920px;
    position: absolute;
    top: -10px;
    left: 0;
    height: 40px;
    width: 123px;
}

.open-card {
    background: url("{% static 'output.png' %}") no-repeat -246px -112px;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 123px;
}

.deck-count {
    position: absolute;
    top: 30px;
    color: blue;
    font-weight: bold;
    font-size: 40px;
    font-family:sans-serif;
}

/* card width: 123px, card height: 192px
player1 height 192px
player2 width 172px
player3 height 142px
player4 width 172px*/

