{% load static %}

.game {
    position: absolute;
    left: 30%;
    top: 70px;
    bottom: 0;
    right: 0;
    max-width: 800px;
    min-height: 500px;
}

.game::selection {
    background: transparent;
}

.player1-info {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
}

.player2-info {
    position: absolute;
    bottom: 40px;
    top: 20%;
    left: 0;
    width: 40px;
}

.player2-info .text {
    position: absolute;
    text-align: center;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 20px 50%;
}

.player3-info {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
}

.player4-info {
    position: absolute;
    bottom: 40px;
    top: 20%;
    right: 0;
    width: 40px;
}

.player4-info .text {
    position: absolute;
    text-align: center;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 20px 50%;
}

.game-field {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 40px;
    bottom: 40px;
    overflow: hidden;
    border: 1px solid gray;
    background-color: green;
}
