{% load static %}



.game {
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 70px;
    right: 0px;
    max-width: 850px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.leave {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.score {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.game::selection {
    background: transparent;
}

#game-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    position: absolute;
    font-size: 13px;
}

.info-div {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.active {
    color: red;
}

.active a {
    color: red;
}

.dealer {
    color: yellow;
}

.dealer a {
    color: yellow;
}

.dealer .text {
    color: yellow;
}

.text {
    margin-left: 5px;
    width: max-content;
}

.player1-info {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
    z-index: 1;
    background-color: #2d2d2d;
}

.player2-info {
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    bottom: 40px;
}

.player3-info {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    height: 40px;
    text-align: center;
}

.player4-info {
    position: absolute;
    bottom: 40px;
    top: 40px;
    right: 0;
    width: 40px;
}

.game-field {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 40px;
    bottom: 40px;
    overflow: hidden;
    border: 1px solid gray;
    background-color: green;
}

.chat {
    position: absolute;
    right: 0;
    bottom: 0;
}

.info-alert {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    max-height: 40%;
    overflow-y: scroll;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    opacity: 0.8;
}

.info-alert-button {
    margin-top: 10px;
}

.game-chat {
    display: none;
    position: absolute;
    top: 0;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 998;
}

.game-chat div {
    opacity: 0.98;
}

.game-button {
    z-index: 100;
    position: absolute;
    border: 1px solid white;
    color: white;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-button:hover {
    background-color: gray;
}