{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Ergebnisse eintragen{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=round.number %}Ergebnisse Eintragen: Runde {{ v0 }}{% endblocktrans %}</h1>
    <p>{% blocktrans %}Nutzen Sie folgendes Formular, um die Ergebnisse des Matches einzutragen.{% endblocktrans %}</p>
    <form class="login-form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>
{% endblock %}