{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Match erstellen{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=activity.name %}{{ v0 }}: Match erstellen{% endblocktrans %}</h1>
    <p>
        {% trans "Bitte füllen Sie das folgende Formular aus, um ein Match zu erstellen" %}.
    </p>
    <form method="post" class="login-form">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>
    {% include 'scheduling/datetimepicker.html' %}
{% endblock %}