{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Turnier bearbeiten{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% trans "Turnier bearbeiten" %}: <a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>
    <h2>{% blocktrans %}Mitglieder verwalten{% endblocktrans %}</h2>
    <p><a href="{% url 'vacancies:create_invitation' 'competitions' 'tournament' tournament.id %}">{% blocktrans %}Mitglied einladen{% endblocktrans %}</a></p>
    {% if not tournament.for_groups and user not in tournament.members.all %}
        <p><a href="{% url 'competitions:add_tournament_member' tournament.id user.id %}">{% blocktrans %}Selbst beitreten{% endblocktrans %}</a></p>
    {% endif %}
    <ul>
        {% for member in tournament.members.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member }}</a> <a href="{% url 'competitions:remove_member' 'tournament' tournament.id member.id 'admin' %}">{% blocktrans %}Entfernen{% endblocktrans %}</a></li>
        {% endfor %}
    </ul>
    <div class="button-like" onclick=openLink("{% url 'competitions:delete_tournament' tournament.id %}")>
        <img src="{% static 'icons/remove.png' %}">
        {% trans "Turnier löschen" %}
    </div>
    {% include 'scheduling/datetimepicker.html' %}
{% endblock %}