{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Match bearbeiten{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=match %}{{ v0 }}: Bearbeiten{% endblocktrans %}</h1>
    <h2><a href="{% url 'competitions:delete_match' match.id %}">{% blocktrans %}Match löschen{% endblocktrans %}</a></h2>
    <p>
        {% trans "Nutzen Sie das folgende Formular, um das Match zu bearbeiten" %}.
    </p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>

{% endblock %}