{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Tabelle{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Tabelle{% endblocktrans %}</h1>
    <p>{% trans "Von" %}: <a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></p>
    <table>
        <tr>
            <th>{% blocktrans %}Rang{% endblocktrans %}</th>
            <th>{% blocktrans %}Nutzer{% endblocktrans %}</th>
            <th>{% blocktrans %}Punkte{% endblocktrans %}</th>
            <th>{% blocktrans %}Tie break{% endblocktrans %}</th>
        </tr>
        {% for player, score, tie_break in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ player.get_absolute_url }}">{{ player }}</a></td>
                <td>{{ score }}</td>
                <td>{{ tie_break }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}