{% extends 'base.html' %}
{% load i18n %}
{% load activity_filter %}

{% block title %}{% blocktrans with v0=round.number %}Spielplan Runde {{ v0 }}{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=round.number %}Spielplan Runde {{ v0 }}{% endblocktrans %}</h1>
    <p><a href="{{ round.tournament.get_absolute_url }}">{{ round.tournament }}</a>:
        {% for round in tournament.rounds.all %}
            <a href="{{ round.get_absolute_url }}">{% blocktrans with v0=round.number %}Runde {{ v0 }}{% endblocktrans %}</a>{% if not forloop.last %}| {% endif %}
        {% endfor %}
    </p>
    {% if round.leftover %}
        <p>{% trans "Nutzer" %} <a href="{{ round.leftover_instance.get_absolute_url }}">{{ round.leftover_instance }}</a> {% trans "hat keinen Spielpartner und bekommt ein Freilos." %}</p>
    {% endif %}
    <table>
        <tr>
            <th>{% blocktrans %}Wer{% endblocktrans %}</th>
            <th>{% blocktrans %}Ergebnis{% endblocktrans %}</th>
        </tr>
        {% for matchup in round.matchup_players %}
        <tr>
            <td>
                {% for player in matchup %}
                    <a href="{{ player.get_absolute_url }}">{{ player }}</a>{% if not forloop.last %} - {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for player in matchup %}
                    <b>{{ round.points|lookup_str:player.id }}</b>{% if not forloop.last %} - {% endif %}
                {% endfor %}{% if is_admin and not over %} <a href="{% url 'competitions:change_score' round.id forloop.counter0 %}">{% blocktrans %}Ändern{% endblocktrans %}</a>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>{% if is_admin and not round.over %}<a href="{% url 'competitions:close_round' round.id %}">{% blocktrans %}Runde beenden{% endblocktrans %}</a>{% endif %}</p>
{% endblock %}