{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with v0=match %}Match am {{ v0 }}{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=match.start_time %}Match am {{ v0 }}{% endblocktrans %}</h1>
    <h2>{% trans "Admin" %}: <a href="{{ match.admin.get_absolute_url }}">{{ match.admin }}</a></h2>
    {% if user == match.admin %}
        <p><a href="{% url 'competitions:edit_match' match.id %}">{% blocktrans %}Bearbeiten{% endblocktrans %}</a></p>
    {% elif match in user.matches.all %}
        <p><a href="{% url 'competitions:remove_member' 'match' match.id user.id 'user' %}">{% trans "Verlassen" %}</a></p>
    {% endif %}
    <h2>{% blocktrans with v0=match.location v1=match.address %}Ort: {{ v0 }}, {{ v1 }}{% endblocktrans %}</h2>
    <h3>{% blocktrans %}Teilnehmer{% endblocktrans %}</h3>
    <ul>
        {% for member in match.contestants.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>
        {% endfor %}
    </ul>
    <h3>{% blocktrans %}Leerstellen{% endblocktrans %}</h3>
    {% if not match.for_groups and user == match.admin %}
        <p><a href="{% url 'vacancies:create_vacancies' 'competitions' 'match' match.id %}">{% blocktrans %}Leerstelle hinzufügen{% endblocktrans %}</a></p>
    {% endif %}
    {% with target=match %}
        {% include 'vacancies/vacancy_list.html' %}
    {% endwith %}
{% endblock %}