{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans with v0=match %}Match am {{ v0 }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="info-p">
        <h1>{% blocktrans with v0=match.start_time %}Match am {{ v0 }}{% endblocktrans %}</h1>
        <p>{% blocktrans with v0=match.location v1=match.address %}Ort: {{ v0 }}, {{ v1 }}{% endblocktrans %}</p>
    </div>
    
    <h2>{% trans "Admin" %}: <a href="{{ match.admin.get_absolute_url }}">{{ match.admin }}</a></h2>
    {% if user == match.admin %}
        <div class="competitive">
            <div class="left" onclick=openLink("{% url 'chat:chat_room' 'competitions' 'match' match.id %}")>
                <img src="{% static 'icons/chat.png' %}">
                {% trans "Zum Chat" %}
            </div>
            <div class="right" onclick=openLink("{% url 'competitions:edit_match' match.id %}")>
                <img src="{% static 'icons/pen.png' %}">
                {% trans "Bearbeiten" %}
            </div>
        </div>
    {% elif is_member %}
        <div class="button-like" onclick=openLink("{% url 'chat:chat_room' 'competitions' 'match' match.id %}")>
            <img src="{% static 'icons/chat.png' %}">
            {% trans "Zum Chat" %}
        </div>
    {% endif %}
    <h3>{% blocktrans %}Mitglieder:{% endblocktrans %}</h3>
    {% include 'account/user_loop.html' with users=match.members.all %}
    {% if is_member %}
    <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'competitions:remove_member' 'match' match.id user.id 'user' %}")>{% trans "Austreten" %}</button></div></p>
    {% endif %}
    <h3>{% blocktrans %}Leerstellen{% endblocktrans %}</h3>
    {% if user == match.admin %}
        <div class="competitive">
            <div class="left" onclick=openLink("{% url 'vacancies:create_vacancies' 'competitions' 'match' match.id %}")>
                <img src="{% static 'icons/interview.png' %}">
                {% trans "Leerstellen hinzufügen" %}
            </div>
            <div class="right" onclick=openLink("{% url 'vacancies:create_invitation' 'competitions' 'match' match.id %}")>
                <img src="{% static 'icons/invitation.png' %}">
                {% trans "Jemanden einladen" %}
            </div>
        </div>
    {% endif %}
    {% with target=match %}
        {% include 'vacancies/vacancy_list.html' %}
    {% endwith %}
{% endblock %}