{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with v0=activity.name %}{{ v0 }}: Matches & Turniere {% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with v0=activity.name %}{{ v0 }}: Matches & Turniere{% endblocktrans %}</h1>
    <p>{% include 'activity/location_selection.html' %}</p>
    <h2>{% blocktrans %}Turniere{% endblocktrans %}</h2>
    <p><a href="{% url 'competitions:create_tournament' activity.id %}">{% blocktrans %}Turnier erstellen{% endblocktrans %}</a></p>
    <table>
        <tr>
            <th>{% blocktrans %}Turnier{% endblocktrans %}</th>
            <th>{% blocktrans %}Admin{% endblocktrans %}</th>
            <th>{% blocktrans %}Ort{% endblocktrans %}</th>
        </tr>
        {% for tournament in tournaments %}
            <tr>
                <td><a href="{{ tournament.get_absolute_url }}">{{ tournament.title }}</a></td>
                <td><a href="{{ tournament.admin.get_absolute_url }}">{{ tournament.admin }}</a></td>
                <td>{{ tournament.location }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>{% blocktrans %}Öffentliche Matches{% endblocktrans %}</h2>
    <p>
        <a href="{% url 'competitions:create_match' activity.id %}">{% blocktrans %}Match erstellen{% endblocktrans %}</a>
    </p>
    <table>
        <tr>
            <th>{% blocktrans %}Match{% endblocktrans %}</th>
            <th>{% blocktrans %}Admin{% endblocktrans %}</th>
            <th>{% blocktrans %}Leerstellen{% endblocktrans %}</th>
            <th>{% blocktrans %}Ort{% endblocktrans %}</th>
        </tr>
        {% for match in matches %}
            <tr>
                <td><a href="{{ match.get_absolute_url }}">{{ match.start_time }}</a></td>
                <td><a href="{{ match.admin.get_absolute_url }}">{{ match.admin }}</a></td>
                <td>{{ match.vacancies.count }}</td>
                <th>{{ match.location }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}