{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ tournament }}{% endblock %}

{% block content %}
    <h1>{{ tournament }}</h1>
    <p>{% blocktrans with v0=tournament.application_deadline %}Anmeldeschluss: {{ v0 }}{% endblocktrans %}</p>
    <p>{% blocktrans with v0=tournament.format %}Beschreibung: {{ v0 }}{% endblocktrans %}</p>
    {% if user == tournament.admin %}
        <p><a href="{% url 'competitions:edit_tournament' tournament.id %}">{% blocktrans %}Bearbeiten...{% endblocktrans %}</a> | <a href="{% url 'chat:chat_room' 'competitions' 'tournament' tournament.id %}">{% blocktrans %}Chat{% endblocktrans %}</a></p>
        <p><a href="{% url 'competitions:generate_next_round' tournament.id %}">{% blocktrans %}Nächste Runde erzeugen{% endblocktrans %}</a></p>
    {% elif tournament in user.tournaments.all %}
        <p><a href="{% url 'competitions:remove_member' 'tournament' tournament.id user.id 'user' %}">{% blocktrans %}Austreten...{% endblocktrans %}</a> | <a href="{% url 'chat:chat_room' 'competitions' 'tournament' tournament.id %}">{% blocktrans %}Chat{% endblocktrans %}</a></p>
    {% endif %}
    <h2>{% trans "Verwalter" %}: <a href="{{ tournament.admin.get_absolute_url }}">{{ tournament.admin }}</a></h2>
    <h2><a href="{% url 'competitions:tournament_standings' tournament.id %}">{% blocktrans %}Tabelle{% endblocktrans %}</a> | <a href="{% url 'competitions:game_plan' tournament.id 1 %}">{% blocktrans %}Spielplan{% endblocktrans %}</a></h2>
    <p>
        {% trans "Mitglieder" %}:
        {% for member in tournament.contestants.all %}
            <a href="{{ member.get_absolute_url }}">{{ member }}</a>{% if forloop.last %}.{% else %},{% endif %}
        {% endfor %}
    </p>
    {% if not tournament.for_groups and user == tournament.admin %}
        <p><a href="{% url 'vacancies:create_vacancies' 'competitions' 'tournament' tournament.id %}">{% blocktrans %}Leerstelle hinzufügen{% endblocktrans %}</a></p>
    {% elif tournament.for_groups and user == tournament.admin %}
        <p>TODO</p>
    {% endif %}
    {% with target=tournament %}
        {% include 'vacancies/vacancy_list.html' %}
    {% endwith %}
{% endblock %}