{% extends 'base.html' %}

{% block title %}{{ user.username }}: Matches & Turniere {% endblock %}

{% block content %}
    <h1>{{ user.username }}: Matches & Turniere </h1>
    <h2>Matches</h2>
    <ul>
        {% for match in user.matches.all %}
            <li><a href="{{ match.activity.get_absolute_url }}">{{ match.activity }}</a>: <a href="{{ match.get_absolute_url }}">{{ match }}</a></li>
        {% endfor %}
    </ul>
    <h2>Turniere</h2>
    <h3>Verwaltete Turniere:</h3>
    <ul>
        {% for tournament in user.owned_tournaments.all %}
            <li><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></li>
        {% endfor %}
    </ul>
    <h3>Als Teilnehmer:</h3>
    <ul>
        {% for tournament in user.tournaments.all %}
            <li><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}