html {
    height: 100%;
    background-color: #2d2d2d;
    overflow: auto;
}

body {
    height: 100%;
}

.base-container {
    position: relative;
}

.content {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 5px;
    bottom: 5px;
    margin-left: 10px;
    color: white;
    font-family: "Courier New", "Lucida Console", monospace;
}

.lang-select {
    float: right;
}

input[type='text'], textarea, select:focus {
    font-size: 16px;
}

.center-container {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

a:link {
    color: #338ad3;
}

a:visited {
    color: #8fe0f7;
}

a:hover {
    color: white;
}

.image {
    float: center;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid white;
}

th, td {
    padding: 10px;
    border: 2px solid white;
}

input[type=submit], a.button, .blue-button {
    font-weight: bold;
    background: #0087f7;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

input, textarea {
    font-family: "Courier New", "Lucida Console", monospace;
    background-color: #494949;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
}

input:focus, input:hover, textarea:hover, textarea:focus, .blue-button:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

select {
    font-family: "Courier New", "Lucida Console", monospace;
    background-color: #494949;
    border: 1px solid black;
    outline: none;
    color: white;
    border-radius: 4px;
}

select:focus, select:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.chat-room-title {
    text-decoration-line: underline;
    font-style: italic;
}

.full-chat {
    overflow-wrap: break-word;
}

.user-photo {
    max-height: 300px;
    max-width: 60%;
    display: block;
    border-radius: 10%;
    margin: auto auto;
}

.activity-thumbnail {
    margin: 10px 10px;
    border-radius: 10%;
}

.activity-thumbnail .photo:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.activity-thumbnail .photo {
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
}

.activity-thumbnail .title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.activity-thumbnail .text {
    text-align: center;
}

.activity-full-image, .category-full-image {
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

.activity-horizontal-list {

}

.activity-horizontal-list .item {
    margin: 10px 10px;
    border: 1px solid transparent;
    border-radius: 10%;
    float: left;
    cursor: pointer;
}

.activity-horizontal-list .item:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.activity-horizontal-list .item .title {
    text-align: center;
}

.activity-horizontal-list .photo {
    border-radius: 10%;
    border: 1px solid transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.profile-rest {
    clear: left;
}

.group-full-image {
    float: right;
    width: 30%;
    max-width: 200px;
    margin: 0 10px;
    border-radius: 10%;
}

.list .item {
    cursor: pointer;
    width: 250px;
    height: 200px;
    float: left;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 10%;
    color: white;
    font-family: "Courier New";
    background-color: gray;
}
.list .item:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.list .item .image {
    max-width: 100%;
    max-height: 60%;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.list .item .title {
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
}
.list .item .subtext {
    margin: 5px 10px;
}
.list .item a {
    text-decoration: none;
    color: white;
}
.list .item a:hover {
    color: black;
}


.about-picture {
    width: 90%;
    max-width: 500px;
    border: 2px solid gray;
    border-radius: 10px;
    display: block;
    margin: auto auto;
}

.login-form input {
    display: block;
    margin: auto auto;
    margin-top: 5px;
    font-size: 16px;
}

.cookie-alert {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    border-radius: 10px;
    z-index: 1;
}
