@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .game {
        position: absolute;
        left: 0;
    }

    .sidemenu .alert .notification-url {
        width: 80%;
    }

    .content {
        color: white;
        font-family: "Courier New", "Lucida Console", monospace;
        float: left;
        width: 100%;
    }

    .topmenu .logo .icon {
        display: block;
    }

    .sidemenu {
        display: none;
    }

    .sidemenu.clicked {
        background-color: black;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1000;
        min-width: 50vw;
        padding: 5px;
        margin-right: 0;
    }
}

@media screen and (min-width: 1220px) {
    html {
        width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1420px) {
    html {
        width: 1400px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .chat-menu {
        display: block;
        width: 300px;

    }

    .envelope {
        display: none;
    }
}