@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .sidemenu .alert .notification-url {
        width: 80%;
    }

    .content {
        color: white;
        font-family: "Courier New", "Lucida Console", monospace;
        position: absolute;
        top: 50px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        margin-left: 0px;
    }

    .topmenu .logo .icon {
        display: block;
    }

    .sidemenu {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    .sidemenu {
        display: block;
        max-height: 80vh;
    }
    .content {
        left: 250px;
    }
    .topmenu .logo .icon {
        display: none;
    }
}

@media screen and (min-width: 1220px) {
    .base-container {
        width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        left: 250px;
    }
    .sidemenu {
        display: block;
    }
    .topmenu .logo .icon {
        display: none;
    }
    .chat-menu {
        display: block;
        width: 250px;
    }

    .content {
        right: 250px;
    }

    .envelope {
        display: none;
    }
}

@media screen and (min-width: 1420px) {
    .base-container {
        width: 1400px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}