.sidemenu {
    float: left;
    height: 100%;
    max-width: 30%;
    font-family: "Courier New", "Lucida Console", monospace;
    overflow-y: auto;
    margin-right: 20px;
}

.sidemenu a {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    color: #ababab;
}

.sidemenu a.notification-url:hover {
    background-color: #0087f7;
    color: white;
}

.alert {
    font-family: "Courier New", "Lucida Console", monospace;
    background-color: #0087f7;
    margin-bottom: 10px;
    position: relative;
}

.sidemenu a.notification-url {
    color: black;
    width: 90%;
    position
}

.closebtn {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.closebtn:hover {
    color: black;
}

.sidemenu a:hover {
    background-color: #565612;
}

.sidemenu a.active {
    background-color: #565612;
    color: white;
}
