.topmenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #ababab;
    background-color: #ae3635;
    text-decoration: none;
    font-size: 32px;
    font-family: "Courier New", "Lucida Console", monospace;
    margin-bottom: 10px;
    overflow: hidden;
}

.topmenu .logo {
    width: 20%;
    float: left;
}

.topmenu .search {
    width: 10%;
    float: left;
}

.topmenu .user {
    width: 60%;
    float: right;
    overflow: hidden;
}

.topmenu .user .envelope {
    float: left;
}

.topmenu .user .profile {
    float: right;
}

#profile-link {
    margin-left: 10px;
    float: right;
}

#profile-image {
    float: left;
}

.topmenu a {
    text-decoration: none;
    float: right;
}

.topmenu .logo a {
    text-decoration: none;
    color: #ababab;
    float: left;
}

.topmenu .logo a:hover {
    color: white;
}

.topright {
    position: absolute;
    color: orange;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: "Courier New", "Lucida Console", monospace;
}