.topmenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #ababab;
    background-color: #ae3635;
    text-decoration: none;
    font-size: 32px;
    font-family: "Arial", "Verdana", "Helvectica";
    margin-bottom: 10px;
}

.topmenu .logo {
    width: 10%;
    float: left;
}

.topmenu .search {
    float: left;
    display: none;
}

.topmenu .user {
    float: right;
    overflow: hidden;
}

.topmenu .user .envelope {
    float: left;
}

.topmenu .user .profile {
    float: right;
}

#profile-link {
    float: right;
    margin-left: 10px;
}

#profile-image {
    float: left;
}

.topmenu a {
    text-decoration: none;
    float: right;
}

.topmenu img {
    max-height: 40px;
    margin-left: 10px;
}

.topmenu .logo a {
    text-decoration: none;
    color: #ababab;
    float: left;
}

.topmenu .logo a:hover {
    color: white;
}

.topright {
    position: absolute;
    color: orange;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: "Arial", "Verdana", "Helvectica";
}