.alert {
    font-family: "Courier New", "Lucida Console", monospace;
    padding: 20px;
    background-color: #0087f7;
    color: white;
    margin-bottom: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.sidemenu {
    float: left;
    width: 30%;
    font-family: "Courier New", "Lucida Console", monospace;
    height: 100%;
}

.sidemenu a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #ababab;
}

.sidemenu a:hover {
    background-color: #565612;
}

.sidemenu a.active {
    background-color: #565612;
    color: white;
}