.topmenu .logo .icon {
    display: none;
}

.topmenu {
    display: block;
    color: #ababab;
    background-color: gray;
    text-decoration: none;
    font-size: 32px;
    font-family: "Courier New", "Lucida Console", monospace;
    margin-bottom: 10px;
    overflow: hidden;
}

.topmenu .user {
    width: 33%;
    float: right;
}

.topmenu .container {
    position: absolute;
    float: left;
}

.topmenu .container2 {
    float: right;
}

.topmenu .search {
    width: 34%;
    float: left;
}

.topmenu .logo {
    width: 33%;
    float: left;
}

.topmenu .logo a {
    text-decoration: none;
    color: #ababab;
}

.topmenu .logo a:hover {
    color: white;
}

.topright {
    position: absolute;
    color: orange;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: "Courier New", "Lucida Console", monospace;
}