{% extends 'base.html' %}
{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Info" %}{% endblock %}

{% block content %}
<h1>{% trans "Willkommen!" %}</h1>
<p>
        {% blocktrans %}Moin. Kurz und bündig:{% endblocktrans %}
        <ol>
                <li>{% blocktrans %}Sie registrieren sich und geben die Stadt an, in der Sie wohnen.{% endblocktrans %}</li>
                <li>{% blocktrans %}Sie suchen ne Band/Spielegruppe etc.? Kategorien -> Musik/Brettspiele -> Zu den Gruppen -> Bewerben bzw. selbst erstellen -> Terminplanung, Chat, Leerstellen{% endblocktrans %}</li>
                <li>{% blocktrans %}Sie wollen Durak/Doko/Skat zocken? Aktivitäten -> Durak/Skat/Doppelkopf -> Beitreten -> Online spielen -> Match erstellen/beitreten{% endblocktrans %}</li>
                <li>{% blocktrans %}Sie wollen sich offline zum Spielen treffen? Aktivitäten -> Durak/Azul/... -> Turniere & Matches -> Bewerben/Selbst ein Treffen erstellen{% endblocktrans %}</li>
                <li>{% blocktrans %}Sie wollen sehen wo man gut spazieren/schwimmen/was auch immer gehen kann? Aktivitäten -> Spazieren/Schwimmen/WasAuchImmer -> Posts in Ihrer Nähe anschauen (von Gruppen und Personen){% endblocktrans %}</li>
                <li>{% blocktrans %}Und vieles mehr.. einfach ausprobieren. Kostet ja nix.{% endblocktrans %}</li>
        </ol>
</p>
<p>{% trans "Klicken Sie auf den Beitreten-Button unten rechts um dem Audiochat eines Spiels beizutreten!" %}</p>
{% get_locale_prefix request as prefix %}
{% if prefix == 'de' %}
<img src="{% static 'game_de.png' %}">
{% else %}
<img src="{% static 'game_en.png' %}">
{% endif %}
{% endblock %}
