{% extends 'base.html' %}
{% load i18n %}
{% load account_tags %}
{% load static %}

{% block title %}{% trans "Info" %}{% endblock %}

{% block content %}
<h1>{% trans "Willkommen!" %}</h1>
<div class="center-container">
<p>{% trans "Ermitteln Sie Ihre Persönlichkeit durch einfache Fragen!" %}</p>
{% if prefix == 'de' %}
<img src="{% static 'questions_de.png' %}" class="about-picture">
<img src="{% static 'charakter_de.png' %}" class="about-picture">
{% else %}
<img src="{% static 'questions_en.png' %}" class="about-picture">
<img src="{% static 'charakter_en.png' %}" class="about-picture">
{% endif %}
<p>{% trans "Anschließend werden Ihnen Aktivitäten empfohlen, die zu Ihnen passen könnten. Sie können auch nach Leuten in Ihrer Nähe suchen, die einen ähnlichen Charakter haben wie Sie!" %}</p>
{% if prefix == 'de' %}
<img src="{% static 'suggestions_de.png' %}" class="about-picture">
{% else %}
<img src="{% static 'suggestions_en.png' %}" class="about-picture">
{% endif %}
<p>{% trans "Sie können per Text und Audiokonferenz chatten und nebenbei sogar einige Kartenspiele spielen." %}</p>
{% if prefix == 'de' %}
<img src="{% static 'game_de.png' %}" class="about-picture">
{% else %}
<img src="{% static 'game_en.png' %}" class="about-picture">
{% endif %}
<p>{% trans "Aktivitäten in Ihrer Nähe werden nach Mitgliederzahl sortiert. So können Sie sehen, was beliebt ist und was nicht." %}</p>
{% if prefix == 'de' %}
<img src="{% static 'activities_de.png' %}" class="about-picture">
{% else %}
<img src="{% static 'activities_en.png' %}" class="about-picture">
{% endif %}
<p>{% trans 'Außerdem können Sie Gruppen und Gruppentermine organisieren, Beiträge in den Aktivitäten posten, liken und disliken und vieles mehr!' %}</p>
</div>
{% endblock %}
