{% load i18n %}

<style>
.cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cookie-banner a {
    color: black;
}

.container {
    text-align: center;
    background: black;
    border-radius: 10px;
    padding: 0px 5px 15px 5px;
    color: white;
    max-width: 600px;
    font-family: "Arial", "Verdana", "Helvectica";
}

</style>

<div class="cookie-banner" id="CookielawBanner">
    <div class="container">
        <p>
            {% trans 'Diese Seite nutzt Cookies für: Sessions, CSRF-Schutz und diesen Banner. Alles klar?' %}<br>
        </p>
            <div class="center-container">
                <a class="blue-button" onclick="javascript:Cookielaw.createCookielawCookie();">{% trans "Mir doch egal!" %}</a>
            </div>
            
    </div>
</div>

<script>
var Cookielaw = {

    createCookie: function (name, value, days) {
        var date = new Date(),
            expires = '';
        if (days) {
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    },

    createCookielawCookie: function () {
        this.createCookie('cookielaw_accepted', '1', 10 * 365);

        document.getElementById('CookielawBanner').style.display = 'none';
    }

};
</script>