{% extends 'base.html' %}
{% load account_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans with username=viewed_user.username %}Profil von {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% trans "Profil von" %} {{ viewed_user.username }}</h1>
    {% if viewed_user.image %}<img src="{{ viewed_user.image.url }}" class="user-photo">{% endif %}
    {% if score %}
        <div class="center-container" style="margin-top: 10px; font-weight: bold;">
            {% trans 'Charakterübereinstimmung' %}: {{ score }}%
        </div>
    {% endif %}
    {% if friendship %}
        
        {% if viewed_user.profile_text %}
            <p class="center-container">
                <i>
                    {{ viewed_user.profile_text }}
                </i>
            </p>
        {% endif %}
        <div class="button-like" style="margin-top: 10px" onclick=openLink("{% url 'chat:chat_room' 'account' 'friendship' friendship.id %}")>
            <img src="{% static 'icons/chat.png' %}">
            {% trans "Zum Chat" %}
        </div>
        
        <p>{{ viewed_user.username }} {% trans "ist Mitglied folgender Aktivitäten" %}:</p>
        {% include "activity/loop.html" with activities=viewed_user.activities own=user.activities.all %}
        <div class="profile-rest">
            <p>{% trans "Adresse" %}: {{ viewed_user.location.full_address }}</p>
            <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'account:destroy_friendship' viewed_user.id %}")>{% trans "Freundschaft beenden" %}</button></div></p>
            {% else %}
                {% blocktrans with user=viewed_user.username%}Sie sind nicht mit {{ user }} befreundet{% endblocktrans %}.
                {% if requested %}
                    {% trans "Sie haben allerdings bereits eine Freundschaftsanfrage gesendet. Diese wurde entweder abgelehnt oder die Antwort steht noch aus" %}.
                {% else %}
                    <p><div class="center-container"><button class="blue-button" onclick=openLink("{% url 'account:send_friend_request' viewed_user.id %}")>{% trans "Freundschaftsanfrage schicken" %}</button></div></p>
                {% endif %}
            {% endif %}
            <h3>{% trans "Posts" %}</h3>
            {% include 'wall/post/post_loop.html' %}
        </div>

{% endblock %}