{% extends 'base.html' %}
{% load account_tags %}
{% load i18n %}

{% block title %}{% blocktrans with username=viewed_user.username %}Profil von {{ username }}{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% trans "Profil von" %} {{ viewed_user.username }}</h1>
    {% if viewed_user.profile_text %}
        <p>{{ viewed_user.profile_text|linebreaks }}</p>
    {% endif %}
    {% if friendship %}
        <p><a href="{% url 'chat:chat_room' 'account' 'friendship' friendship.id %}">{% trans "Zum Chat" %}...</a></p>
        <p>{% trans "Voller Name" %}: {{ viewed_user.get_full_name }}</p>
        <p>{{ viewed_user.username }} {% trans "ist Mitglied folgender Aktivitäten" %}:</p>
        <table>
            <tr><th>{% trans "Name" %}</th><th>{% trans "Beschreibung" %}</th></tr>
            {% for activity in viewed_user.activities.all %}
                <tr>
                    <td><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></td>
                    <td>{{ activity.description }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>{% trans "Adresse" %}: {{ viewed_user.location.full_address }}</p>
        <p>{% trans "Neueste Aktivitäten" %}:</p>
        {% include 'actions/forloop.html' %}
    <p>{% trans "Sie sind mit" %} {{ viewed_user.get_full_name }}{% trans "befreundet. Falls Sie das ändern möchten, können Sie die Freundschaft" %} <a href="{% url 'account:destroy_friendship' viewed_user.id %}">{% trans "auch vernichten" %}.</a></p>
    {% else %}
        {% blocktrans with user=viewed_user.username%}Sie sind nicht mit {{ user }} befreundet {% endblocktrans %}.
        {% if requested %}
            {% trans "Sie haben allerdings bereits eine Freundschaftsanfrage gesendet. Diese wurde entweder abgelehnt oder die Antwort steht noch aus" %}.
        {% else %}
            {% trans "Falls Sie das ändern möchten, schicken Sie ihm doch eine" %} <a href="{% url 'account:send_friend_request' viewed_user.id %}">{% trans "Freundschaftsanfrage" %}.</a>
        {% endif %}
    {% endif %}
    <h3>{% trans "Posts" %}</h3>
    {% include 'wall/post/post_loop.html' %}
{% endblock %}