{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Account bearbeiten{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Account bearbeiten{% endblocktrans %}</h1>
    <p>{% blocktrans %}Bearbeiten Sie Ihren Account mit folgendem Formular:{% endblocktrans %}</p>
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>
    <p>{% blocktrans %}Das sind Ihre aktuellen Addressdaten:{% endblocktrans %}</p>
    <ul>
        {% for key, value in location.items %}
            <li>{{ key }}: <b>{% if value %}{{ value }} {% else %} {% trans "Ohne" %} {% endif %}</b></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'account:edit_address' %}">{% blocktrans %}Klicken Sie hier, falls Sie ihre Adresse ändern möchten.{% endblocktrans %}</a></p>
{% endblock %}