{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Adresse ändern{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Adresse ändern{% endblocktrans %}</h1>
    <p>{% blocktrans %}Geben Sie hier eine neue Stadt ein.{% endblocktrans %}</p>
    <form method="post">
        {{ location_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Ändern{% endblocktrans %}">
    </form>
    {% if sent %}
        <p>{% blocktrans with v0=user.location.full_address %}Neue Adresse gespeichert: <b>{{ v0 }}</b>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}