{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Account bearbeiten{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Account bearbeiten{% endblocktrans %}</h1>
    <p>{% blocktrans %}Bearbeiten Sie Ihren Account mit folgendem Formular:{% endblocktrans %}</p>
    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Fertig{% endblocktrans %}">
    </form>
    <p>{% blocktrans %}Das sind Ihre aktuellen Addressdaten:{% endblocktrans %}</p>
    <p>
    {% if change_location_date %}
        {% blocktrans with v0=change_location_date %}Sie können Ihre Adresse am {{ v0 }} wieder ändern.{% endblocktrans %}
    {% else %}
        <a href="{% url 'account:edit_address' %}">{% blocktrans %}Klicken Sie hier, falls Sie ihre Adresse ändern möchten.{% endblocktrans %}</a>
    {% endif %}
    <ul>
        {% for key, value in location.items %}
            <li>{{ key }}: <b>{% if value %}{{ value }} {% else %} {% trans "Ohne" %} {% endif %}</b></li>
        {% endfor %}
    </ul>
    <h3>{% trans 'Ihre Markierungen' %}: </h3>
    <ul>
        {% for marker in user.markers.all %}
            <li>
                <input id="{{ marker.id }}" type="text" value="{{ marker.description }}"> -> <a href="{{ marker.activity.get_absolute_url }}">{{ marker.activity }}</a> <button onclick="saveMarker({{ marker.id }})" style="margin-right: 15px">{% trans 'Speichern' %}</button><button onclick="deleteMarker({{ marker.id }})" id='delete-{{ marker.id }}'>{% trans 'Löschen' %}</button>
            </li>
        {% empty %}
            <div class="center-container">
                {% trans 'Keine! Treten Sie Aktivitäten bei, um auf der zugehörigen Karte Orte für andere zu markieren.' %}
            </div>
        {% endfor %}
    </ul>
    <div class="django-message" id="message" style="display: none; position: fixed;">
        <p>{% trans 'Gespeichert: ' %} <span id="msg-text"></span></p>
        <a class="blue-button" onclick="document.getElementById('message').style.display='none';">{% trans "OK!" %}</a>
</div>
    <script>
        {% include 'javascript/edit.js' %}
    </script>
    <div class="button-like" onclick=openLink("{% url 'account:password_change' %}")>
        <img src="{% static 'icons/password.png' %}">
        {% trans 'Passwort ändern' %}
    </div>
    <br>
    <div class="button-like" id="delete" onclick=openLink("{% url 'account:delete' %}")>
        <img src="{% static 'icons/attention.png' %}">
        <span id="reset-text">{% trans 'Account löschen' %}</span>
    </div>
{% endblock %}
