{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{% blocktrans %}Freunde{% endblocktrans %}{% endblock %}


{% block content %}
    <h1><img src="{% static 'icons/friendship.png' %}">{% blocktrans %}Ihre Freunde{% endblocktrans %}</h1>
    <p class="info-p">
        {% blocktrans %}Freunde finden Sie z. B. über Mitglieder von gemeinsamen <a href="/activity/list">Aktivitäten</a> oder über's <a href="/competitions/user_overview">Zocken</a>. Kennen Sie den Nutzernamen, können Sie auch direkt eine Anfrage senden. Falls Sie den <a href="/character/overview">Persönlichkeitstest</a> gemacht haben, können Sie sogar nach Leuten in Ihrer Nähe suchen und nach Übereinstimmung mit Ihrem Charakter sortieren! {% endblocktrans %}
    </p>
    <div class="competitive">
        <div class="left" onclick=openLink("{% url 'account:send_custom_friend_request' %}")>
            <img src="{% static 'icons/invitation.png' %}">
            {% trans 'Anfrage senden' %}
        </div>
        <div class="right" onclick=openLink("{% url 'account:people_list' %}")>
            <img src="{% static 'icons/question.png' %}">{% blocktrans %}In Ihrer Nähe suchen{% endblocktrans %}
        </div>
    </div>
    
    {% include 'account/user_loop.html' with users=user.friends %}
    {% if received_friend_requests %}
        <h1 class="center-container">{% trans 'Eingegange Anfragen' %}</h1>
        <div class="match-list">
            {% for request in received_friend_requests %}
            <div class="item" style="width: 250px;">
                <div class="top">
                    {% trans 'Von' %}:
                    <img src="{% thumbnail request.requesting_user.get_image 0x80 %}">
                    <a href="{% url 'account:detail' request.requesting_user.username %}">{{ request.requesting_user.username }}</a>
                </div>
                <div class="middle">
                    {{ request.request_message }}
                </div>
                <div class="bottom">
                    {% if request.status == 'pending' %}
                    <div class="competitive" style="font-size: 16px">
                        <div class="left" onclick=openLink("{% url 'account:accept_request' request.id %}")>
                            <img src="{% static 'icons/accept.png' %}">
                            {% trans 'Annehmen' %}
                        </div>
                        <div class="right" onclick=openLink("{% url 'account:decline_request' request.id %}")>
                            <img src="{% static 'icons/reject.png' %}">
                            {% trans 'Ablehnen' %}
                        </div>
                    </div>
                    {% else %}
                    <div class="button-like" onclick=openLink("{% url 'account:delete_request' request.id %}")>
                        <img src="{% static 'icons/remove.png' %}">
                        {% trans 'Löschen' %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if sent_friend_requests %}
        <h1 class="center-container">{% trans 'Gesendete Anfragen' %}</h1>
        <div class="match-list">
            {% for request in sent_friend_requests %}
            <div class="item" style="width: 200px;">
                <div class="top">
                    <img src="{% thumbnail request.requested_user.get_image 0x80 %}">
                    <a href="{% url 'account:detail' request.requested_user.username %}">{{ request.requested_user.username }}</a>
                </div>
                <div class="middle">
                    {{ request.request_message }}
                </div>
                <div class="bottom">
                    <div class="button-like" onclick=openLink("{% url 'account:delete_request' request.id %}")>
                        <img src="{% static 'icons/remove.png' %}">
                        {% trans 'Löschen' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}