{% extends 'base.html' %}
{% load i18n %}
{% load account_tags %}

{% block title %}{% blocktrans %}Home{% endblocktrans %}{% endblock %}

{% block content %}
	<p>{% blocktrans with v0=user.first_name v1=user.last_name v2=user.username %}Willkommen, {{ v0 }} {{ v1 }} (aka {{ v2 }}).{% endblocktrans %}</p>
    <p><a href="{% url 'account:user_post_list' %}">{% blocktrans %}Zu Ihren Posts...{% endblocktrans %}</a></p>
    {% if user.activities.all %}
        <p>{% blocktrans %}Sie sind zurzeit Mitglied folgender Aktivitäten:{% endblocktrans %}</p>
        <ul>
            {% for activity in user.activities.all %}
                <li><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans %}Sie sind zurzeit kein Mitglied einer Aktivität.{% endblocktrans %}</p>
    {% endif %}
    <h3>{% blocktrans %}Neueste Aktivitäten Ihrer Freunde und Gruppen:{% endblocktrans %}</h3>
    {% with actions=friend_and_group_actions %}
    {% include 'actions/forloop.html' %}
    {% endwith %}
    <h3>{% blocktrans %}... und auf aktivitaeten.de:{% endblocktrans %}</h3>
    {% with actions=other_actions %}
    {% include 'actions/forloop.html' %}
    {% endwith %}
{% endblock %}
