{% extends 'base.html' %}
{% load i18n %}
{% load account_tags %}

{% block title %}{% blocktrans %}Home{% endblocktrans %}{% endblock %}

{% block content %}
	<p>{% blocktrans with v0=user.username %}Willkommen, {{ v0 }}.{% endblocktrans %}</p>
    {% if user.image %}<img src="{{ user.image.url }}" class="user-photo">{% endif %}
    <p><a href="{% url 'account:user_post_list' %}">{% blocktrans %}Zu Ihren Posts...{% endblocktrans %}</a></p>
    {% if user.activities.all %}
        <p>{% blocktrans %}Sie sind zurzeit Mitglied folgender Aktivitäten:{% endblocktrans %}</p>
        {% include "activity/loop.html" with activities=user.activities %}
    {% else %}
        <p>{% blocktrans %}Sie sind zurzeit kein Mitglied einer Aktivität.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
