{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block title %}{% trans 'Personenliste' %}{% endblock %}

{% block content %}
<h2>{% trans 'Liste von Personen in' %}:<br>{{ location }}</h2>
<p class="info-p">
    {% trans 'Hier werden die ersten 30 Mitglieder in der ausgewählten Gegend angezeigt. Haben Sie den <a href="/character/overview">Persönlichkeitstest</a> gemacht, werden die Mitglieder nach Charakterübereinstimmung in % sortiert. Schicken Sie doch eine Freundschaftsanfrage an die Leute ganz hinten &#128540;' %}
</p>
<p style="text-align: center">
    {% trans "Mitglieder anzeigen" %}: <br/>
    {% include 'activity/location_selection.html' %}
</p>
{% include "account/pagination_component.html" with page=people %}
<div class="list">
    {% for user, score in people %}
        <div class="item" onclick="location.href='{{ user.get_absolute_url }}'" style="width: 150px; height: 150px">
            <img src="{% thumbnail user.get_image 200x200 %}" class="image" style="max-height: 50%">
            <div class="title">
                {{ user }}{% if score %}: {{ score }}%{% endif %}
            </div>
        </div>
        {% empty %}
            <div style="margin-top: 10px; font-weight: bold">{% trans 'Tote Hose! Hier ist ja echt niemand. Empfehlen Sie die Seite doch Ihren Freunden und schauen Sie, wie gut eure Charaktere übereinstimmen und welche Aktivitäten ihr vielleicht ausprobieren könnt :)' %}</div>
    {% endfor %}
</div>
<script>
    {% include 'javascript/list.js' %}
</script>
{% endblock %}