{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Registrieren{% endblocktrans %}{% endblock %}

{% block content %}
<div class="register">
    <h1>{% blocktrans %}Registrieren{% endblocktrans %}</h1>
    <p>{% blocktrans %}Sie können sich mit dem folgenden Formular registrieren. {% endblocktrans %}</p>
    <form method="post">
        {{ user_form.as_p }}
        {% trans "Bitte geben Sie eine Stadt ein" %}.
        {{ location_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="{% blocktrans %}Registrieren{% endblocktrans %}">
    </form>
    </div>
{% endblock %}