{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Freundschaftsanfrage angenommen{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Freundschaftsanfrage angenommen{% endblocktrans %}</h1>
    <p>{% trans "Die Freundschaftsanfrage von" %} <a href="{{ accepted_user.get_absolute_url }}">{{ accepted_user }}</a> {% trans "wurde angenommen" %}.</p>
    <p><a href="{% url 'account:friend_requests_list' %}">{% blocktrans %}Zurück zur Liste geht's hier.{% endblocktrans %}</a></p>
{% endblock %}