{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Freundschaftsanfrage senden{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% trans "Senden Sie" %} {% if target_user %}{{ target_user.username }} {% endif %}{% trans "eine Freundschaftsanfrage" %}</h1>
    {% if sent %}
        <p>{% blocktrans %}Die Freundschaftsanfrage wurde erfolgreich gesendet.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Schreiben Sie" %} {% if target_user %}{{ target_user.username }} {% endif %}{% trans "eine kurze Nachricht" %}.</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="{% blocktrans %}Abschicken{% endblocktrans %}">
        </form>
    {% endif %}
{% endblock %}