{% load static %}
{% load thumbnail %}
<div class="activity-horizontal-list">
    {% for user in users %}
        <a href="{{ user.get_absolute_url }}">
            <div class="item">
                <img src="{% thumbnail user.get_image 200x200 %}" class="photo">
                <div class="title">
                    <span {% if user.channel_name %}style="color: yellow; font-weight: bold;"{% endif %}>{{ user }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>