{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Charakter' %}{% endblock %}
{% block style %}
{% include 'css/quiz.css' %}
{% include 'css/game.css' %}
{% endblock %}

{% block content %}
<h1>{% trans 'Charakterübersicht' %}</h1>
{% if user.character.question_limit %}
    <div class="center-container">
        <b>{% blocktrans with n=user.character.current_question max=user.character.question_limit %}Sie haben bisher {{ n }} von {{ max }} Fragen beantwortet.{% endblocktrans %}</b>
    </div>
    <p></p>
    <div class="button-like" onclick=openLink("{% url 'character:quiz' %}")>
        <img src="{% static 'icons/question.png' %}">
        {% trans 'Zum Fragebogen' %}
    </div>
{% else %}
    <div class="center-container">
        <b>{% trans 'Die hier angebotenen Persönlichkeitstests wurden in Anlehnung an den NEO-PI-R Test erstellt und basieren auf <a href="https://ipip.ori.org/newNEOKey.htm" target="_blank">frei verfügbaren Fragen</a>, die auf den <a href="https://de.wikipedia.org/wiki/Big_Five_(Psychologie)" target="_blank">Big Five</a> der Persönlichkeitspsychologie fußen.<br><br>Der offizielle NEO-PI-R Persönlichkeitstest umfasst 240 Fragen. Weniger Fragen sind zwar schneller zu beantworten, liefern aber ein unter Wiederholung instabileres Testergebnis.' %}</b>
    </div>
    <p></p>
    <div class="center-container">
        <b>{% trans 'Bitte wählen Sie eine der drei Optionen aus.' %}</b>
    </div>
    <br>
    <div class="button-like" onclick=openLink("{% url 'character:quiz' 60 %}")>
        <img src="{% static 'icons/question.png' %}">
        60 {% trans 'Fragen' %} (~7 min)
    </div><br>
    <div class="button-like" onclick=openLink("{% url 'character:quiz' 120 %}")>
        <img src="{% static 'icons/question.png' %}">
        120 {% trans 'Fragen' %} (~14 min)
    </div><br>
    <div class="button-like" onclick=openLink("{% url 'character:quiz' 240 %}")>
        <img src="{% static 'icons/question.png' %}">
        240 {% trans 'Fragen' %} (~28 min)
    </div>
{% endif %}
{% if not user.character.presentable %}
<h2>{% trans 'Noch kein Testergebnis!' %}</h2>
{% else %}
<h2>{% trans 'Empfohlene Aktivitäten in ' %}<a href="{{ chosen_category.get_absolute_url }}">{{ chosen_category.verbose }}</a></h2>
<div>{% trans 'Andere Kategorie wählen: ' %}</div>
<div class="activity-horizontal-list">
    {% for category in categories %}
    <div class="item {% if category == chosen_category %}selected{% endif %}" onclick="location.href='{% url 'character:overview' category.name %}'">
        {% load thumbnail %}
        <img src="{% thumbnail category.image 200x200 %}" class="photo">
        <div class="title">
            {{ category }}
        </div>
    </div>
    {% endfor %}
</div>
{% include "account/pagination_component.html" with page=suggestions %}
<div class="list">
    {% for suggestion in suggestions %}
        <div class="item" onclick="location.href='{{ suggestion.activity.get_absolute_url }}'">
        {% load thumbnail %}
            <img src="{% thumbnail suggestion.activity.image 200x200 %}" class="image">
            <div class="title">
                {{ forloop.counter|add:start }}. {{ suggestion.activity }}
            </div>
            <div class="subtext">
                {% trans "Score" %}: {{ suggestion.score }}%
            </div>
            {% if activity in user.activities.all %}
                <img src="{% static 'icons/member.png' %}" class="icon">
            {% endif %}
        </div>
    {% endfor %}
    </div>
<h2>{% trans 'Charakter' %}</h2>
<p class="center-container"><b>{% trans 'Werte verglichen mit den Durchschnittswerten. <br>+50%: Maximal überdurchschnittlich, -50%: Maximal unterdurchschnittlich' %}</b></p>
<div class="test-container">
    <h2 id="nh">{% trans 'Neurotizismus' %}: </h2>

    <div class="character-overview" id="ns">
        
    </div>
    <br>
    <h2 id="eh">{% trans 'Extraversion' %}: </h2>

    <div class="character-overview" id="es">
        
    </div>
    <br>
    <h2 id="oh">{% trans 'Offenheit für Erfahrungen' %}: </h2>

    <div class="character-overview" id="os">
        
    </div>
    <br>
    <h2 id="ch">{% trans 'Gewissenhaftigkeit' %}: </h2>

    <div class="character-overview" id="cs">
        
    </div>
    <br>
    <h2 id="ah">{% trans 'Verträglichkeit' %}: </h2>

    <div class="character-overview" id="as">
        
    </div>
</div>

<span style="clear: both"></span>
{% endif %}
{% if user.character.question_limit %}
<p></p>
<div class="button-like" id="reset" onclick=reset()>
    <img src="{% static 'icons/attention.png' %}">
    <span id="reset-text">{% trans 'Zurücksetzen' %}</span>
</div>
<br>
{% endif %}
<div class="center-container" style="color: yellow">
    <b>{% trans 'Antworten auf individuelle Fragen werden <u>nicht gespeichert</u>. Lediglich die errechneten Punktesummen in den Kategorien werden für die Berechnung von Empfehlungen verwendet und für sonst nichts.' %}</b>
</div>
{% endblock %}

{% block domready %}
{% include 'javascript/categories.js' %}
{% include 'javascript/overview.js' %}
{% include 'javascript/list.js' %}
{% endblock %}
