{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Fragebogen' %}{% endblock %}

{% block content %}
<h1 class="h-img"><img src="{% static 'icons/question.png' %}">{% trans 'Fragebogen' %}</h1>
<div class="button-like" style="margin-bottom: 15px;" onclick=openLink("{% url 'character:overview' %}")>
    <img src="{% static 'icons/brain.png' %}">
    {% trans 'Zur Charakterübersicht' %}
</div>
<div class="question">
    <div id="current-question"></div> <br>
    <span class="info left">{% trans 'Trifft stark zu' %}</span>
    <span class="info right">{% trans 'Trifft überhaupt nicht zu' %}</span>
    <input type="range" min="1" max="5" class="slider" id="slider">
    <p style="clear: both"></p>
    <div class="button-container" style="position: relative">
        <div class="blue-button" style="background-color: darkred; display: none; margin-right: 5px" onclick=back() id="back-button">
            {% trans 'Zurück' %}
        </div>
        <div class="blue-button" onclick=next() id="send-button">
            {% trans 'Weiter' %}
        </div>
        <div class="counter" id="counter">
            
        </div>
        <div class="time" id="time">
            
        </div>
    </div>
    
</div>
<div class="center-container" style="margin-top: 15px; font-size: 24px; min-height: 40px">
    <b><span id="info-box"></span></b>
</div>
{% endblock %}

{% block domready %}
{% include 'javascript/categories.js' %}
{% include 'javascript/quiz.js' %}
{% endblock %}